
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
            <Authorizing>
                <Loading/>
            </Authorizing>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>@localizer["Notfound"]</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>