@page "/Monthly_expenses"
@using Cargotruck.Client.Components

<h3>@localizer["Monthly_expenses"]</h3>
<div class="form-group buttons">
    <a class="btn btn-success me-4" href="/Monthly_expenses/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>
    <button data-title="@localizer["pdf"]" class="btn btn-light" @onclick="@ExportToPdf"><i class="oi oi-document"></i></button>
    <button data-title="@localizer["excel"]" class="btn btn-light" @onclick="@ExportToExcel"><i class="oi oi-spreadsheet"></i></button>
    <button data-title="@localizer["txt"]" class="btn btn-light" @onclick="@(() => ExportToCSV("txt"))"><span class="icon iconify" style="margin:0;" data-icon="material-symbols:text-snippet-outline"></span></button>
    <button data-title="@localizer["csv"]" class="btn btn-light" @onclick="@(() => ExportToCSV("csv"))"><span class="icon iconify" style="margin:0;" data-icon="bi:filetype-csv"></span></button>
    <input value="@searchString" @oninput="@Search" placeholder="@(searchString != "" ? searchString : localizer["Search"])" class="form-control inputs input_search" type="search" id="search-input" name="SearchString">
    <select data-title="@localizer["Currency"]" class="form-control currency" @oninput="@((e)=>OnChangeGetType(e))" @bind="currency">
        <option value="HUF">HUF</option>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="CZK">CZK</option>
    </select>
    <div class="date-filter" data-title="@localizer["date-filter-info"]">
        <Input class="form-control" type="datetime-local" value="@dateFilter?.StartDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateStartInput(e);})">
        <Input class="form-control" type="datetime-local" value="@dateFilter?.EndDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateEndInput(e);})">
    </div>
</div>
<br>

<p class="error">@document_error</p>

@if (currency_api_error != null && currency_api_error != "")
{
    <div class="d-inline-block">
        <button class="no-button currency-api-error-icon error d-inline-block" @onclick="@(() => showError=!showError)">
            <span class="icon iconify d-inline" style="color:darkred;" data-icon="material-symbols:error-circle-rounded-outline"></span>
        </button>
        <p class="error currency-api-error d-inline-block">
            @if (showError)
            {
                @localizer[@currency_api_error]
            }
        </p>
    </div>
}

@if (Monthly_expenses == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (Monthly_expenses.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div class="col-md-8 stretch-card mb-2 me-3">
        <div class="form-card mb-1 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table striped">
                        <thead>
                            <tr>
                                <th class="counter-col"> </th>
                                <th><button class="@(sortOrder=="Month" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Month"))">@localizer["Month"]</button></th>
                                @if (showColumns[0])
                                {
                                    <th><button class="@(sortOrder=="Earning" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Earning"))">@localizer["Earning"]</button></th>
                                }
                                @if (showColumns[1])
                                {
                                    <th><button class="@(sortOrder=="Expense" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Expense"))">@localizer["Expense"]</button></th>
                                }
                                @if (showColumns[2])
                                {
                                    <th><button class="@(sortOrder=="Profit" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Profit"))">@localizer["Profit"]</button></th>
                                }
                                @if (showColumns[3])
                                {
                                    <th><button>@localizer["Expenses_id"]</button></th>
                                }
                                @if (showColumns[4])
                                {
                                    <th><button>@localizer["Task_id"]</button></th>
                                }
                                @if (showColumns[5])
                                {
                                    <th class="last-col"><button class=" @(sortOrder=="Date" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Date"))">@localizer["Date"]</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Monthly_expenses item in Monthly_expenses)
                            {
                                <tr class="@(item.Profit <=0 ? "red": "")">
                                   @if(item.User_id=="Generated") 
                                   {
                                      <td import-data-title="@localizer["Generated"]">@item.Monthly_expense_id</td>    
                                   }
                                   else
                                   {
                                        <td import-data-title="@localizer["Not_generated"]">@item.Monthly_expense_id*</td>
                                   }
                                    <td>@localizer[item.Date.Month.ToString()]</td>
                                    @if (showColumns[0])
                                    {
                                        <td>
                                            @if (@item.Earning != null)
                                            {
                                                @if (currency != "HUF" && Rates != null)
                                                {
                                                    @(GetCurrency(item.Earning)!.Value.ToString("0.##") + " " + currency)
                                                }
                                                else
                                                {
                                                    @(item.Earning + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td>
                                            @if (@item.Expense != null)
                                            {
                                                @if (currency != "HUF" && Rates != null)
                                                {
                                                    @(GetCurrency(item.Expense)!.Value.ToString("0.##") + " " + currency)
                                                }
                                                else
                                                {
                                                    @(item.Expense + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[2])
                                    {
                                         <td>
                                            @if (@item.Profit != null)
                                            {
                                                @if (currency != "HUF" && Rates != null)
                                                {
                                                    @(GetCurrency(item.Profit)!.Value.ToString("0.##") + " " + currency)
                                                }
                                                else
                                                {
                                                    @(item.Profit + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td>
                                            @if (Connection_ids != null)
                                            {
                                                @foreach (var ConId in Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Expense_id != null))
                                                {
                                                    @if (Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Expense_id != null).Last().Id != ConId.Id)
                                                    {
                                                        <button class="no-button" @onclick="@(()=>GetById(ConId.Expense_id,"expense"))">@(ConId.Expense_id + ", ")</button>
                                                    }
                                                    else
                                                    {
                                                        <button class="no-button" @onclick="@(()=>GetById(ConId.Expense_id,"expense"))">@ConId.Expense_id</button>
                                                    }
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[4])
                                    {
                                        <td>
                                        @if (Connection_ids != null){
                                            @foreach (var ConId in Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Task_id != null))
                                            {
                                                @if (Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Task_id != null ).Last().Id != ConId.Id)
                                                {
                                                    <button class="no-button" @onclick="@(()=>GetById(ConId.Task_id,"task"))">@(ConId.Task_id + ", ")</button>
                                                        
                                                }
                                                else
                                                {
                                                    <button class="no-button" @onclick="@(()=>GetById(ConId.Task_id,"task"))">@ConId.Task_id</button>
                                                }
                                            }
                                        }
                                        </td>
                                    }
                                    @if (showColumns[5])
                                    {
                                        <td class="last-col">@item.Date</td>
                                    }
                                    <td>
                                        <a class="btn  fixed" href="Monthly_expenses/edit/@item.Monthly_expense_id"> <span data-title="@localizer["Edit"]" class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Monthly_expense_id))"> <span data-title="@localizer["Delete"]" class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPage" />
            </div>
        </div>
    </div>

    <div class="hideandshow-cards">
        @if (fullYearProfitWindow && Monthly_expenses != null)
        {
            <FullYearProfits fullYearProfitWindow="@fullYearProfitWindow" OnFullYearWindowClosed="FullYearWindowClosed" Monthly_expenses="@Monthly_expenses" currency="@currency" />
        }
        @if (settings)
        {
            <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
        }
        @if (IdForGetById != null)
        {
            <GetbyidComponent getById="@IdForGetById.ToString()" getByIdType="@GetByIdType" OnSetToNull="SetToNull" />
        }
    </div>
}