@page "/Monthly_expenses"

<h3>@localizer["Monthly_expenses"]</h3>
<div class="form-group buttons">
    
    <a class="btn btn-success me-4" href="/Monthly_expenses/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>
    
     <li class="d-inline-block" data-title="@localizer["export"]" @onclick="() => expandExportMenu = !expandExportMenu">
        <div class="btn btn-light d-inline-block" >
            <span class="icon iconify export-icon" data-icon="oi:data-transfer-download" style="margin:0;"></span>
        </div>
        @if (expandExportMenu)
        {
            <ul class="nav flex-column export-buttons">
                <button data-title="@localizer["excel"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Monthly_expenses","xlsx",dateFilter, client, js))"><span class="icon iconify" data-icon="file-icons:microsoft-excel" />XLSX</button>
                <button data-title="@localizer["pdf"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Monthly_expenses","pdf",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-pdf" />PDF</button>
                <button data-title="@localizer["txt"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Monthly_expenses","txt",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-txt" />TXT</button>
                <button data-title="@localizer["csv"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Monthly_expenses","csv",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-csv"/>CSV</button>
            </ul>
        }
    </li>

    <input value="@searchString" @oninput="@SearchAsync" placeholder="@(searchString != "" ? searchString : localizer["Search"])" class="form-control inputs input_search" type="search" id="search-input" name="SearchString">

    <CurrencySelectInput OnCurrencyChanged="SettingsChanged" />

    <!--Date Filter-->
    <div class="date-filter" data-title="@localizer["date-filter-info"]">
        <div class="date-filter-icon-div d-inline-block"><span class="icon iconify date-filter-icon" data-icon="carbon:arrows-vertical" /></div>
        <Input class="form-control" style="border-bottom-right-radius:unset;border-bottom:unset;" type="datetime-local" value="@dateFilter?.StartDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateStartInput(e);})">
        <Input class="form-control" style="border-top-right-radius:unset;border-top:unset;" type="datetime-local" value="@dateFilter?.EndDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateEndInput(e);})">
    </div>

</div>
<br>

@if (fileDownload.DocumentError != null && fileDownload.DocumentError != "")
{
    <p class="error">@fileDownload.DocumentError</p>
}

@if (Monthly_expenses == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (Monthly_expenses.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div class="col-md-8 stretch-card mb-2 me-3">
        <div class="form-card mb-1 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><button class="@(sortOrder=="Month" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Month"))">@localizer["Month"]</button></th>
                                @if (showColumns[0])
                                {
                                    <th><button class="@(sortOrder=="Earning" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Earning"))">@localizer["Earning"]</button></th>
                                }
                                @if (showColumns[1])
                                {
                                    <th><button class="@(sortOrder=="Expense" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Expense"))">@localizer["Expense"]</button></th>
                                }
                                @if (showColumns[2])
                                {
                                    <th><button class="@(sortOrder=="Profit" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Profit"))">@localizer["Profit"]</button></th>
                                }
                                @if (showColumns[3])
                                {
                                    <th><button>@localizer["Expenses_id"]</button></th>
                                }
                                @if (showColumns[4])
                                {
                                    <th><button>@localizer["Task_id"]</button></th>
                                }
                                @if (showColumns[5])
                                {
                                    <th class="last-col"><button class=" @(sortOrder=="Date" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Date"))">@localizer["Date"]</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Monthly_expenses item in Monthly_expenses)
                            {
                                <tr @onclick="@((e) =>MouseHoverClass.MouseOnclick(item.Monthly_expense_id.ToString()))" @onmouseover="@((e) =>MouseHoverClass.MouseOver(item.Monthly_expense_id.ToString()))" @onmouseout="@((e) =>MouseHoverClass.MouseOut())"
                            class="@(item.Profit <=0 ? "red": "") @(MouseHoverClass.MouseOnHoverClass == item.Monthly_expense_id.ToString() || MouseHoverClass.MouseOnclickClass == item.Monthly_expense_id.ToString() ? "color-on-hover" :"")">
                                   @if(item.User_id=="Generated") 
                                   {
                                      <td import-data-title="@localizer["Generated"]">@item.Monthly_expense_id</td>    
                                   }
                                   else
                                   {
                                        <td import-data-title="@localizer["Not_generated"]">@item.Monthly_expense_id*</td>
                                   }
                                    <td>@localizer[item.Date.Month.ToString()]</td>
                                    @if (showColumns[0])
                                    {
                                        <td>
                                            @if (@item.Earning != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Earning, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Earning + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td>
                                            @if (@item.Expense != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Expense, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Expense + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[2])
                                    {
                                         <td>
                                            @if (@item.Profit != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Profit, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Profit + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td>
                                            @if (Connection_ids != null)
                                            {
                                                @foreach (var ConId in Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Expense_id != null))
                                                {
                                                 
                                                    <button class="no-button multiselect-list" @onclick="@(()=>GetById(ConId.Expense_id,"expense"))">@ConId.Expense_id</button>
                                                  
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[4])
                                    {
                                        <td>
                                        @if (Connection_ids != null){
                                            @foreach (var ConId in Connection_ids.Where(x => x.Monthly_expense_id == item.Monthly_expense_id && x.Task_id != null))
                                            {
                                             
                                                <button class="no-button multiselect-list" @onclick="@(()=>GetById(ConId.Task_id,"task"))">@ConId.Task_id</button>
                                                
                                            }
                                        }
                                        </td>
                                    }
                                    @if (showColumns[5])
                                    {
                                        <td class="last-col">@item.Date</td>
                                    }
                                    <td class="@(MouseHoverClass.MouseOnHoverClass == item.Monthly_expense_id.ToString() || MouseHoverClass.MouseOnclickClass == item.Monthly_expense_id.ToString() ? "show" :"not-show") ">
                                        <a class="btn  fixed" href="Monthly_expenses/edit/@item.Monthly_expense_id"> <span data-title="@localizer["Edit"]" class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Monthly_expense_id))"> <span data-title="@localizer["DeleteAsync"]" class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPage" />
            </div>
        </div>
    </div>


    <h3 class="mb-3 mt-3">@localizer["Expenses_per_year"]</h3>
    <div class="hideandshow-cards">
        @if (fullYearProfitWindow && Monthly_expenses != null)
        {
            
            <FullYearProfits Currency="@currencyExchange.GetCurrencyType()"/>
        }
        @if (settings)
        {
            <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
        }
        @if (IdForGetById != null)
        {
            <GetByIdComponent GetById="@IdForGetById.ToString()" GetByIdType="@GetByIdType" OnSetToNull="SetToNull" />
        }
    </div>
}