
<div class="col-md-8 stretch-card mb-2 me-3">
    <div class="form-card mb-1 table-width">
        <div class="card-body mb-3">
            <div class="table-responsive fixed-table-body">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>@localizer["Year"]</th>
                            <th>@localizer["Earning"]</th>
                            <th>@localizer["Expense"]</th>
                            <th>@localizer["Profit"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (DataPerYearList != null)
                        {
                            @foreach (DataPerYear item in DataPerYearList)
                            {
                                <tr class="full-year-hover">
                                    <td>@item.year</td>
                                    <td>
                                        @if (@item.earning != null)
                                        {
                                            @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null)
                                            {
                                                @(CurrencyExchange.GetCurrency(item.earning, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange.currency)
                                            }
                                            else
                                            {
                                                @(item.earning + " HUF")
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (@item.expense != null)
                                        {
                                            @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null)
                                            {
                                                @(CurrencyExchange.GetCurrency(item.expense, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange.currency)
                                            }
                                            else
                                            {
                                                @(item.expense + " HUF")
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (@item.profit != null)
                                        {
                                            @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null)
                                            {
                                                @(CurrencyExchange.GetCurrency(item.profit, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange.currency)
                                            }
                                            else
                                            {
                                                @(item.profit + " HUF")
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@code {
    Monthly_expenses[]? Monthly_expenses { get; set; }
    List<DataPerYear>? DataPerYearList = new();

    public class DataPerYear
    {
        public int year;
        public int? earning;
        public int? expense;
        public int? profit;
    }

    protected override async Task OnInitializedAsync()
    {
        Monthly_expenses = await client.GetFromJsonAsync<Monthly_expenses[]?>("api/Monthly_expenses/getmonthlyexpenses");

        if(Monthly_expenses != null){
            @foreach (var item in Monthly_expenses)
            {

                bool haveYear = false;
                if(DataPerYearList != null){
                    @foreach (var data in DataPerYearList)
                    {
                        if (data.year == item.Date.Year)
                        {
                            data.earning += item.Earning;
                            data.expense += item.Expense;
                            data.profit += item.Profit;
                            haveYear = true;
                        }
                    }
                }

                if (haveYear == false)
                {
                    DataPerYear newDataPerYear = new();
                    newDataPerYear.year = item.Date.Year;
                    newDataPerYear.earning = item.Earning;
                    newDataPerYear.expense = item.Expense;
                    newDataPerYear.profit = item.Profit;
                    DataPerYearList?.Add(newDataPerYear);
                }
            }
        }
    }
}