@{
    ViewData["Title"] = App.Resources.Resource.Tasks_title;
}

@model X.PagedList.IPagedList<App.Models.Tasks>
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";}

<!-- partial -->
<div class="main-panel main">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="me-md-3 me-xl-5">
                            <h2>@ViewData["Title"]</h2>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-end flex-wrap float-middle">
                        <form asp-controller="Tasks" asp-action="Tasks_page" class="search" id="search" method="get">   
                            @{
                                if (ViewBag.searchPlaceHolder != null && ViewBag.searchPlaceHolder != "" && ViewBag.searchPlaceHolder != App.Resources.Resource.search)
                                {
                                        <button type="submit" value="x" class="close btn  delete_search"></button>
                                }
                            }
                            <input placeholder="@ViewBag.searchPlaceHolder" class="input_search" type="search" id="search-input" name="SearchString">
                            <button type="submit" class="btn btn-primary button_search "> 
                                <i class="i fa fa-search"></i>
                            </button>
                        </form>

                        <!--Pop up button -->
                        <button onclick="ShowPopup()" data-toogle="ajax-modal" data-target="#addSettings" id="btnShowModal" type="button" class="btn btn-light bg-white btn-icon me-3  mt-xl-0">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>                
                        <!--Export to excel button -->
                        <button onclick="location.href='@Url.Action("Excel", "Tasks")'" id="download1" type="button" class="btn btn-light bg-white btn-icon me-3 mt-xl-0">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                        <!--Export to pdf button -->
                        <button method="post" onclick="location.href='@Url.Action("PDF", "Tasks")'" id="ExportPdf" name="Export" type="button" class="btn btn-light bg-white btn-icon me-3  mt-xl-0">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </button>

                        <!--Import from excel  -->
                        <form asp-controller="Tasks" asp-route-returnUrl="@returnUrl" EncType="multipart/form-data" asp-action="Import" id="upload" method="post">
                            <button type="submit" value="" class="import-button btn btn-light bg-white btn-icon  mt-2 mt-xl-0"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" id="file" name="file" class="btn import" />   
                        </form>  <p class="import-error">@TempData["error"]</p>
                        <a asp-action="create" class="btn btn-primary button-new mt-2 mt-xl-0">@App.Resources.Resource.New_data</a>
                    </div>
                </div>
            </div>
        </div>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="PrintPDF">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Partner, "Tasks_page", new { sortOrder = ViewBag.PartnerSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Description, "Tasks_page", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Place_of_receipt, "Tasks_page", new { sortOrder = ViewBag.Place_of_receiptSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Time_of_receipt, "Tasks_page", new { sortOrder = ViewBag.Time_of_receiptSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Place_of_delivery, "Tasks_page", new { sortOrder = ViewBag.Place_of_deliverySortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Time_of_delivery, "Tasks_page", new { sortOrder = ViewBag.Time_of_deliverySortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Other_stops, "Tasks_page", new { sortOrder = ViewBag.Other_stopsSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Id_cargo, "Tasks_page", new { sortOrder = ViewBag.Id_cargoSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Storage_time, "Tasks_page", new { sortOrder = ViewBag.Storage_timeSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Completed, "Tasks_page", new { sortOrder = ViewBag.CompletedSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Completion_time, "Tasks_page", new { sortOrder = ViewBag.Completion_timeSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Time_of_delay, "Tasks_page", new { sortOrder = ViewBag.Time_of_delaySortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Payment, "Tasks_page", new { sortOrder = ViewBag.PaymentSortParm , currentFilter=ViewBag.CurrentFilter })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Final_Payment, "Tasks_page", new { sortOrder = ViewBag.Final_PaymentSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Penalty, "Tasks_page", new { sortOrder = ViewBag.PenaltySortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink(App.Resources.Resource.Date,"Tasks_page", new { sortOrder = ViewBag.DateSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Partner)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Place_of_receipt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Time_of_receipt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Place_of_delivery)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Time_of_delivery)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Other_stops)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id_cargo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Storage_time)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Completed)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Completion_time)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Time_of_delay)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Payment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Final_Payment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Penalty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td class="table-actions">
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="table-actions-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="table-actions-item2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <div class="spacer"></div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="paging">
                        @Html.PagedListPager(Model, page => Url.Action("Tasks_page",new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script> <!--The app's js file-->
    }