@page "/Expenses"

<h3>@localizer["Expenses"]</h3>
<div class="form-group buttons">
    <a class="btn btn-success me-4" href="/Expenses/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>

    <li class="d-inline-block" data-title="@localizer["export"]" @onclick="() => expandExportMenu = !expandExportMenu">
        <div class="btn btn-light d-inline-block">
            <span class="icon iconify export-icon" data-icon="oi:data-transfer-download" style="margin:0;"></span>
        </div>
        @if (expandExportMenu)
        {
            <ul class="nav flex-column export-buttons">
                <button data-title="@localizer["excel"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Expenses","xlsx",dateFilter, client, js))"><span class="icon iconify" data-icon="file-icons:microsoft-excel" />XLSX</button>
                <button data-title="@localizer["pdf"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Expenses","pdf",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-pdf" />PDF</button>
                <button data-title="@localizer["txt"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Expenses","txt",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-txt" />TXT</button>
                <button data-title="@localizer["csv"]" class="btn" @onclick="@(() =>fileDownload.ExportAsync("Expenses","csv",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-csv" />CSV</button>
            </ul>
        }
    </li>

    <span class="file-upload-title" import-data-title="@localizer["File_input"]"><UploadFiles Page="expenses" StateChanged="StateChanged" /></span>
    <input value="@searchString" @oninput="@SearchAsync" placeholder="@(searchString != "" ? searchString : localizer["Search"])" class="form-control inputs input_search" type="search" id="search-input" name="SearchString">

    <!--Filter icon-->
    @if (filter == Cargotruck.Shared.Model.Type.salary || filter == Cargotruck.Shared.Model.Type.storage || filter == Cargotruck.Shared.Model.Type.repair || filter == Cargotruck.Shared.Model.Type.task || filter == Cargotruck.Shared.Model.Type.other)
    {
        <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button"><span class="icon iconify filter-icon" data-icon="material-symbols:filter-alt-off"></span></button>
    }
    else
    {
        <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button not-pointer"><span class="icon iconify filter-icon not-pointer" data-icon="material-symbols:filter-alt"></span></button>
    }
    <!--Filter-->
    <div data-title="@localizer["Filter"]" class="form-group custom-select d-inline-block">
        <div class="form-control filter">@(filter != null && filter.ToString() != "" ? localizer[filter?.ToString()!] : localizer["Nothing"])</div>
        <div class="custom-select-options ">
            <div class="custom-select-option" @onclick='() => {filter = null;StateChanged(); }'>
                @localizer["Nothing"]
            </div>
            @foreach (var value in Enum.GetValues<Cargotruck.Shared.Model.Type>())
            {
                <div class="custom-select-option" @onclick='() => {filter = value;StateChanged(); }'>
                    @localizer[value.ToString()]
                </div>
            }
        </div>
    </div>

    <CurrencySelectInput OnCurrencyChanged="SettingsChanged" />

    <!--Date Filter-->
    <div class="date-filter" data-title="@localizer["date-filter-info"]">
        <div class="date-filter-icon-div d-inline-block"><span class="icon iconify date-filter-icon" data-icon="carbon:arrows-vertical" /></div>
        <Input class="form-control" style="border-bottom-right-radius:unset;border-bottom:unset;" type="datetime-local" value="@dateFilter?.StartDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateStartInput(e);})">
        <Input class="form-control" style="border-top-right-radius:unset;border-top:unset;" type="datetime-local" value="@dateFilter?.EndDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateEndInput(e);})">
    </div>

</div>
<br>

@if (fileDownload.DocumentError != null && fileDownload.DocumentError != "")
{
    <p class="error">@fileDownload.DocumentError</p>
}

@if (expenses == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (expenses.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div class="col-md-8 stretch-card mb-2 me-3">
        <div class="form-card mb-1 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                @if (showColumns[0])
                                {
                                    <th><button class="@(sortOrder=="Type" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Type"))">@localizer["Type"]</button></th>
                                }
                                @if (showColumns[1])
                                {
                                    <th><button class="@(sortOrder=="Type_id" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Type_id"))">@localizer["Type_id"]</button></th>
                                }
                                @if (showColumns[2])
                                {
                                    <th><button class="@(sortOrder=="Fuel" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Fuel"))">@localizer["Fuel"]</button></th>
                                }
                                @if (showColumns[3])
                                {
                                    <th><button class="@(sortOrder=="Road_fees" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Road_fees"))">@localizer["Road_fees"]</button></th>
                                }
                                @if (showColumns[4])
                                {
                                    <th><button class="@(sortOrder=="Penalty" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Penalty"))">@localizer["Penalty"]</button></th>
                                }
                                @if (showColumns[5])
                                {
                                    <th><button class="@(sortOrder=="Driver_spending" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Driver_spending"))">@localizer["Driver_spending"]</button></th>
                                }
                                @if (showColumns[6])
                                {
                                    <th><button class="@(sortOrder=="Driver_salary" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Driver_salary"))">@localizer["Driver_salary"]</button></th>
                                }
                                @if (showColumns[7])
                                {
                                    <th><button class="@(sortOrder=="Repair_cost" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Repair_cost"))">@localizer["Repair_cost"]</button></th>
                                }
                                @if (showColumns[8])
                                {
                                    <th><button class="@(sortOrder=="Repair_description" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Repair_description"))">@localizer["Repair_description"]</button></th>
                                }
                                @if (showColumns[9])
                                {
                                    <th><button class="@(sortOrder=="Cost_of_storage" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Cost_of_storage"))">@localizer["Cost_of_storage"]</button></th>
                                }
                                @if (showColumns[10])
                                {
                                    <th><button class="@(sortOrder=="Other" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Other"))">@localizer["other"]</button></th>
                                }
                                @if (showColumns[11])
                                {
                                    <th><button class="@(sortOrder=="Total_amount" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Total_amount"))">@localizer["Total_amount"]</button></th>
                                }
                                @if (showColumns[12])
                                {
                                    <th class="last-col"><button class="@(sortOrder=="Date" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Date"))">@localizer["Date"]</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (Expenses item in expenses)
                            {

                                <tr @onclick="@((e) =>MouseHoverClass.MouseOnclick(item.Id.ToString()))" @onmouseover="@((e) =>MouseHoverClass.MouseOver(item.Id.ToString()))" @onmouseout="@((e) =>MouseHoverClass.MouseOut())"
                                    class="@(MouseHoverClass.MouseOnHoverClass == item.Id.ToString() || MouseHoverClass.MouseOnclickClass == item.Id.ToString() ? "color-on-hover" :"")">
                                    <td>@item.Id</td>

                                    @if (showColumns[0])
                                    {
                                        <td>
                                            @if (item.Type != null)
                                            {
                                                @localizer[item.Type.ToString()!]
                                            }
                                        </td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td>
                                            @if (item.Type_id != null)
                                            {
                                                <button class="no-button" @onclick="@(()=>GetById(item.Type_id,item.Type?.ToString()!))">@item.Type_id<span class="icon iconify" data-icon="material-symbols:read-more-rounded"></span></button>
                                            }
                                            else{
                                                <span disabled>-</span>
                                            }
                                        </td>
                                    }
                                    @if (showColumns[2])
                                    {
                                        <td>
                                            @if (@item.Fuel != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Fuel, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Fuel + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td>
                                            @if (@item.Road_fees != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Road_fees, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Road_fees + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[4])
                                    {
                                        <td>
                                            @if (@item.Penalty != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Penalty, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Penalty + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[5])
                                    {
                                        <td>
                                            @if (@item.Driver_spending != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Driver_spending, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Driver_spending + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[6])
                                    {
                                        <td>
                                            @if (@item.Driver_salary != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Driver_salary, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Driver_salary + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[7])
                                    {
                                        <td>
                                            @if (@item.Repair_cost != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Repair_cost, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Repair_cost + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[8])
                                    {
                                        <td>@item.Repair_description</td>
                                    }
                                    @if (showColumns[9])
                                    {
                                        <td>
                                            @if (@item.Cost_of_storage != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Cost_of_storage, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Cost_of_storage + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[10])
                                    {
                                        <td>
                                            @if (@item.Other != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Other, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Other + " HUF")
                                                }
                                            }
                                        </td>
                                    }  
                                    @if (showColumns[11])
                                    {
                                        <td>
                                            @if (@item.Total_amount != null)
                                            {
                                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                                {
                                                    @(currencyExchange.GetCurrency(item.Total_amount, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                                }
                                                else
                                                {
                                                    @(item.Total_amount + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[12])
                                    {
                                        <td>@item.Date</td>
                                    }
                                    <td class="@(MouseHoverClass.MouseOnHoverClass == item.Id.ToString() || MouseHoverClass.MouseOnclickClass == item.Id.ToString() ? "show" :"not-show") ">
                                        <a class="btn  fixed" href="Expenses/edit/@item.Id"> <span data-title="@localizer["Edit"]" class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Id))"> <span data-title="@localizer["DeleteAsync"]" class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPageAsync" />
            </div>
        </div>
    </div>

    <div class="hideandshow-cards">
        @if (settings)
        {
            <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
        }
        @if (IdForGetById != null)
        {
            <GetByIdComponent GetById="@IdForGetById.ToString()" GetByIdType="@GetByIdType" OnSetToNull="SetToNull" />
        }
    </div>
}