
<EditForm class="form" Model="@cargoes" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="top-buttons-card">
        <div class="card-body">
                <div class="form-group">
                    @if (PageHistoryState.CanGoBack())
                {
                    <a href="@PageHistoryState.GetGoBackPage()"><span class="oi oi-arrow-circle-left" aria-hidden="true" ></span></a>
                }
            </div>
            <p class="edit-title">@localizer[TitleText]</p>
                <div class="form-group form-submit">
                    <button @onclick="OnSaveData" type="submit" class="btn btn-success">
                        <i class="oi oi-circle-check"></i><div class="d-inline-block">@localizer[ButtonText]</div>
                    </button>
            </div>
        </div>
    </div>

    <div class="form-card mb-6" style="border-top-left-radius:unset;border-top-right-radius:unset;">
        <div class="card-body mb-3">

            <!--Error-->@if (error != "")
            {
            <p class="error-message ms-3 mb-2">
                <span class="icon iconify d-inline" style="color:darkred;" data-icon="material-symbols:error-circle-rounded-outline"></span>
                    @error
                </p>
            }
           
                <div class="d-inline-block forms-margin ">
                    <div class="form-group ">
                        <div>
                            <label>@localizer["Weight"]:</label>
                            <div>
                                <InputNumber class="form-control inputs" min="0" @bind-Value="@cargoes!.Weight" />
                                <ValidationMessage For="@(() => cargoes.Weight)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div>
                            <label>@localizer["Description"]:</label>
                            <div>
                                <InputText Type="InputDateType.DateTimeLocal" class="form-control inputs" @bind-Value="@cargoes.Description" />
                                <ValidationMessage For="@(() => cargoes.Description)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div>
                        <label>@localizer["Delivery_requirements"]:</label>
                            <div>
                                <InputText Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy.MM.dd. HH:mm" class="form-control inputs" @bind-Value="@cargoes.DeliveryRequirements" />
                                <ValidationMessage For="@(() => cargoes.DeliveryRequirements)" />
                            </div>
                        </div>
                    </div>
                <div class="form-group custom-select">
                    <label>@localizer["Vehicle_registration_number"]:</label>
                    <input type="text" class="form-control custom-select-input" @bind="cargoes.VehicleRegistrationNumber" @bind:event="oninput" placeholder="@localizer["Select_placeholder"]" />
                    <div class="custom-select-options">
                        @if (trucks != null)
                        {
                            @foreach (var truck in trucks)
                            {
                                if (truck.VehicleRegistrationNumber!.ToString().ToLower().Contains((cargoes?.VehicleRegistrationNumber != null ? cargoes?.VehicleRegistrationNumber?.ToString() : "")!))
                                {
                                    <div class="custom-select-option" @onclick="() => { cargoes!.VehicleRegistrationNumber = truck.VehicleRegistrationNumber; }">
                                        @localizer["Vehicle_registration_number"]: @truck.VehicleRegistrationNumber <br>
                                        @localizer["Brand"]: @truck.Brand <br>
                                        @localizer["Max_weight"]: @truck.MaxWeight <br>
                                        @localizer["Status"]: @localizer[truck.Status.ToString()]
                                    </div>
                                }
                            }
                        }
                    </div>
                    <ValidationMessage For="@(() => cargoes.VehicleRegistrationNumber)" />
                </div>        
            </div>
                <div class="d-inline-block forms-margin" >
                    <div class="form-group custom-select">
                        <label>@localizer["Task_id"]:</label>
                        <input type="text" class="form-control custom-select-input" @bind="cargoes.TaskId" @bind:event="oninput" placeholder="@localizer["Mandatory"]" />
                        <div class="custom-select-options">
                            @if (tasks != null)
                            {
                                @foreach (var task in tasks.Where(x=>x.Completed==false))
                                {
                                    <div class="custom-select-option" @onclick="() => { cargoes!.TaskId = task.Id; }">
                                            @localizer["Id"]: @task.Id <br>
                                            @localizer["Partner"]: @task.Partner <br>
                                            @localizer["Place_of_receipt"]: @task.PlaceOfReceipt <br>
                                            @localizer["Place_of_delivery"]: @task.PlaceOfDelivery <br>
                                            @localizer["Date"]: @task.Date <br>
                                            @localizer["Description"]: @task.Description?.Substring(0, task.Description.Length >= 50 ? 50 : task.Description.Length)
                                    </div>
                                }
                            }
                        </div>
                        <ValidationMessage For="@(() => cargoes.TaskId)" />
                    </div>
                    <div class="form-group custom-select">
                        <label>@localizer["Warehouse_id"]:</label>
                        <input type="text" class="form-control custom-select-input" @bind="cargoes.WarehouseId" @bind:event="oninput" placeholder="@localizer["Select_placeholder"]" />
                        <div class="custom-select-options">
                            @if (warehouses != null)
                            {
                                @foreach (var warehouse in warehouses)
                                {
                                if (warehouse.Id.ToString().ToLower().Contains((cargoes?.WarehouseId != null ? cargoes?.WarehouseId?.ToString(): "")!))
                                    {
                                        <div class="custom-select-option" @onclick="() => { cargoes!.WarehouseId = warehouse.Id; }">
                                             @localizer["Id"]: @warehouse.Id <br>
                                             @localizer["Address"]: @warehouse.Address <br>
                                             @localizer["Owner"]: @warehouse.Owner
                                        </div>
                                    }
                                }
                            }
                        </div>
                        <ValidationMessage For="@(() => cargoes.WarehouseId)" />
                    </div>
                    <div class="form-group ">
                        <div>
                            <label>@localizer["Warehouse_section"]:</label>
                            <div>
                                <InputText class="form-control inputs" @bind-Value="@cargoes.WarehouseSection" />
                                <ValidationMessage For="@(() => cargoes.WarehouseSection)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div>
                            <label>@localizer["Storage_starting_time"]:</label>
                            <div>
                                <InputDate Type="InputDateType.DateTimeLocal" class="form-control inputs" @bind-Value="@cargoes.StorageStartingTime" />
                                <ValidationMessage For="@(() => cargoes.StorageStartingTime)" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</EditForm>


@code {
    [Parameter] public CargoDto? cargoes { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public string TitleText { get; set; } = "";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback<bool> checkValidSubmit { get; set; }
    string error = "";
    WarehouseDto[]? warehouses { get; set; }
    List<DeliveryTaskDto>? tasks { get; set; }
    List<TruckDto>? trucks { get; set; }
    List<CargoDto>? cargoWithIds { get; set; }


    protected override async Task OnInitializedAsync()
    {
        warehouses = await client.GetFromJsonAsync<WarehouseDto[]?>("api/warehouses/getwarehouses");
        tasks = await client.GetFromJsonAsync < List<DeliveryTaskDto>?>("api/tasks/gettasks");
        trucks = await client.GetFromJsonAsync<List<TruckDto>?>("api/trucks/gettrucks");
        cargoWithIds = await client.GetFromJsonAsync<List<CargoDto>>("api/cargoes/getcargoes");

        foreach (var cargo in cargoWithIds!)
        {
            trucks?.RemoveAll(x => x.VehicleRegistrationNumber == cargo.VehicleRegistrationNumber && x.VehicleRegistrationNumber != cargoes?.VehicleRegistrationNumber);
            tasks?.RemoveAll(x => x.Id == cargo.TaskId && x.Id != cargoes?.TaskId);
        }
    }

    private async void OnSaveData()
    {
        error = "";
        var invalid = false;
        bool isValidSubmit = true;

        if (cargoes != null)
        {
            if (cargoes?.TaskId != null)
            {
                invalid = false;
                if (tasks?.Count > 0)
                {
                    @foreach (var task in tasks)
                    {
                        if (!task.Completed)
                        {
                            if (task.Id != cargoes?.TaskId)
                            {
                                invalid = true;
                            }
                            else
                            {
                                invalid = false;
                                break;
                            }
                        }
                    }

                }
                else
                {
                    invalid = true;
                }

                if (invalid)
                {
                    isValidSubmit = false;
                    cargoes.TaskId = null;
                    await checkValidSubmit.InvokeAsync(false);
                    error += localizer["task_id_invalid"] + " ";
                }

            }

            if (cargoes?.WarehouseId != null)
            {
                invalid = false;
                if (warehouses?.Count() > 0)
                {
                    @foreach (var warehouse in warehouses)
                    {
                        if (warehouse.Id != cargoes?.WarehouseId)
                        {
                            invalid = true;
                        }
                        else
                        {
                            invalid = false;
                            break;
                        }
                    }

                }
                else
                {
                    invalid = true;
                }
                if (invalid)
                {
                    isValidSubmit = false;
                    cargoes.WarehouseId = null;
                    await checkValidSubmit.InvokeAsync(false);
                    error += localizer["warehouse_id_invalid"] + " ";
                }

            }

            if (cargoes?.VehicleRegistrationNumber != null)
            {
                invalid = false;
                if (trucks?.Count > 0)
                {
                    @foreach (var truck in trucks)
                    {
                        if (truck?.MaxWeight < cargoes?.Weight)
                        {
                            invalid = true;
                            error += localizer["Weight_is_height"] + " ";
                        }
                        if (truck?.VehicleRegistrationNumber != cargoes?.VehicleRegistrationNumber)
                        {
                            invalid = true;
                        }
                        else
                        {
                            invalid = false;
                            break;
                        }
                    }

                }
                else
                {
                    invalid = true;
                }

                if (invalid)
                {
                    isValidSubmit = false;
                    cargoes!.VehicleRegistrationNumber = null;
                    await checkValidSubmit.InvokeAsync(false);
                    error += localizer["VRN_invalid"] + " ";
                }

            }
        }
        if (!invalid && isValidSubmit && (cargoes?.WarehouseId != null || cargoes?.TaskId != null || cargoes?.VehicleRegistrationNumber != null))
        {
            await checkValidSubmit.InvokeAsync(true);
        }
    }
}