

<EditForm class="form" Model="@trucks" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="top-buttons-card">
        <div class="card-body">
                <div class="form-group">
                    @if (PageHistoryState.CanGoBack())
                {
                    <a href="@PageHistoryState.GetGoBackPage()"><span class="oi oi-arrow-circle-left" aria-hidden="true" ></span></a>
                }
            </div>
            <p class="edit-title">@localizer[TitleText]</p>
                <div class="form-group form-submit">
                    <button @onclick="OnSaveData" type="submit" class="btn btn-success">
                        <i class="oi oi-circle-check"></i><div class="d-inline-block">@localizer[ButtonText]</div>
                    </button>
            </div>
        </div>
    </div>

    <div class="form-card mb-6" style="border-top-left-radius:unset;border-top-right-radius:unset;">
        <div class="card-body mb-3">

             <!--Error-->@if (error != "")
            {
            <p class="error-message ms-3 mb-2">
                <span class="icon iconify d-inline" style="color:darkred;" data-icon="material-symbols:error-circle-rounded-outline"></span>
                    @error
                </p>
            }

            <div class="d-inline-block forms-margin ">
                <div class="form-group ">
                    <div>
                    <label>@localizer["Brand"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@trucks!.Brand" />
                            <ValidationMessage For="@(() => trucks.Brand)" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                    <label>@localizer["Vehicle_registration_number"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@trucks.Vehicle_registration_number" />
                            <ValidationMessage For="@(() => trucks.Vehicle_registration_number)" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>@localizer["Max_weight"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@trucks.Max_weight" />
                            <ValidationMessage For="@(() => trucks.Max_weight)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-inline-block forms-margin second-col mt-3" >
                <div class="form-group custom-select">
                    <label>@localizer["Road_id"]:</label>
                    <input type="text" class="form-control custom-select-input" @bind="trucks.Road_id" @bind:event="oninput" placeholder="@localizer["Select_placeholder"]" />
                    <div class="custom-select-options">
                        @if (roads != null)
                        {
                        @foreach (var road in roads)
                            {
                                if (road.Id.ToString().ToLower().Contains(trucks.Road_id != null ? trucks.Road_id?.ToString() : ""))
                                {
                                    <div class="custom-select-option" @onclick="() => {trucks.Road_id = road.Id; }">
                                        @localizer["Id"]: @road.Id  <br>
                                        @localizer["Starting_place"]: @road.Starting_place <br>
                                        @localizer["Ending_place"]: @road.Ending_place <br>
                                        @localizer["Purpose_of_the_trip"]: @road.Purpose_of_the_trip <br>
                                        @localizer["Direction"]: @localizer[road?.Direction?.ToLower()!]
                                    </div>
                                }
                            }
                        }
                    </div>
                    <ValidationMessage For="@(() => trucks.Road_id)" />
                </div>
                <div class="form-group custom-select">
                    <label>@localizer["Status"]:</label>
                    <input type="text" class="form-control custom-select-input" @bind="@selectedOption" @bind:event="oninput" placeholder="@localizer["Select_placeholder"]" disabled/>
                    <div class="custom-select-options">
                        @foreach (var value in Enum.GetValues<Status>())
                        {
                            if (value.ToString().ToLower().Contains(value.ToString()))
                            {
                                <div class="custom-select-option" @onclick='() => {selectedOption = localizer[value.ToString()];trucks.Status=value; }'>
                                    @localizer[value.ToString()]
                                </div>
                            }
                        }
                    </div>
                    <ValidationMessage For="@(() => trucks.Road_id)" />
                </div>
            </div>
        </div>
    </div>

</EditForm>


@code {
    [Parameter] public Trucks? trucks { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public string TitleText { get; set; } = "";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback<bool> checkValidSubmit { get; set; }
    string error = "";
    string? selectedOption;
    List<Roads>? roads { get; set; }
    List<Trucks>? trucksOnRoad { get; set; }

    protected override async Task OnInitializedAsync()
    {
        roads = await client.GetFromJsonAsync<List<Roads>?>("api/roads/getroads");
        if (trucks?.Status != null)
        {
            selectedOption = localizer[trucks?.Status.ToString()!];
        }
        trucksOnRoad = await client.GetFromJsonAsync<List<Trucks>>("api/tasks/gettrucks");
        trucksOnRoad = trucksOnRoad?.Where(x => x.Road_id != null).ToList();
        if (trucksOnRoad != null)
        {
            foreach (var truck in trucksOnRoad)
            {
                roads?.RemoveAll(x => x.Id == truck.Road_id  && x.Id != trucks?.Road_id);
            }
        }
    }

    private async void OnSaveData()
    {
        error = "";
        var invalid = false;
        bool isValidSubmit = true;

        if (trucks?.Road_id  != null)
        {
            invalid = false;
            if (roads?.Count > 0)
            {
                @foreach (var road in roads)
                {
                    if (road.Id != trucks.Road_id)
                    {
                        invalid = true;
                    }
                    else
                    {
                        invalid = false;
                        break;
                    }
                }
            }
            else
            {
                invalid = true;
            }

            if (invalid)
            {
                isValidSubmit = false;
                trucks.Road_id = null;
                await checkValidSubmit.InvokeAsync(false);
                error += localizer["Road_id_invalid"] + " ";
            }

        }

        if (true)
        {
            invalid = false;
            @foreach (var value in Enum.GetValues<Status>())
            {
                if (value != trucks?.Status)
                {
                    invalid = true;
                }
                else
                {
                    invalid = false;
                    break;
                }
            }

            if (invalid)
            {
                isValidSubmit = false;
                await checkValidSubmit.InvokeAsync(false);
                error += localizer["Truck_status_invalid"] + " ";
            }

        }

        if (isValidSubmit)
        {
            await checkValidSubmit.InvokeAsync(true);
        }
    }
}