@using X.PagedList.Mvc.Core


@{
  ViewData["Title"] = "Adminisztrátor felület";
}   

@model X.PagedList.IPagedList<App.Models.Users>

<!-- partial -->
<div class="main-panel main">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="me-md-3 me-xl-5">
                            <h2>@ViewData["Title"]</h2>
                        </div>
                        <div class="d-flex">
                            <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Irányítópult&nbsp;/&nbsp;</p>
                            <p class="text-primary mb-0 hover-cursor">@ViewData["Title"]</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-end flex-wrap">
                        <form asp-controller="Admin" asp-action="Admin_page" class="search" id="search" method="get">
                            @{
                                if (ViewBag.searchPlaceHolder != null && ViewBag.searchPlaceHolder != "" && ViewBag.searchPlaceHolder != "Keresés...")
                                {
                                    <button type="submit" value="x" class="close btn  delete_search"></button>
                                }
                            }
                            <input placeholder="@ViewBag.searchPlaceHolder" class="input_search" type="search" id="search-input" name="SearchString">
                            <button type="submit" class="btn btn-primary button_search ">
                                <i class="i fa fa-search"></i>
                            </button>
                        </form>
                        <a asp-action="create" class="btn btn-primary mt-2 mt-xl-0">Új felhasználó</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.ActionLink("Felhasználónév", "Admin_page", new { sortOrder = ViewBag.UserNameSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Email", "Admin_page", new { sortOrder = ViewBag.EmailSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Jelszó", "Admin_page", new { sortOrder = ViewBag.PasswordSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        </th>
                                        <th>
                                            @Html.ActionLink("Jogosultság", "Admin_page", new { sortOrder = ViewBag.RoleSortParm, currentFilter=ViewBag.CurrentFilter  })
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PasswordHash)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role)
                                            </td>
                                            <td class="table-actions">
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="table-actions-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="table-actions-item2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <div class="spacer"></div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="paging">
                        @Html.PagedListPager(Model, page => Url.Action("Admin_page",new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>