@page "/"
@inject IStringLocalizer<Resource> localizer
@inject PageHistoryState PageHistoryState

<div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="box list-item">
                <span class="avatar w-40 text-center rounded symbol me-3">
                    <span class="icon iconify" data-icon="clarity:tasks-solid"></span>
                </span>
                <div class="list-body">
                    <h2 class="m-0 text-md">
                        @counts["numberOfTasks"] <span class="text-sm">@localizer["task"].ToString().ToLower()</span>
                    </h2>
                    <small class="text-muted">@counts["numberOfTasksUnFinished"] @localizer["Tasks_unfinished"].</small>
                </div>
            </div>               
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="box list-item">
                <span class="avatar wnumberOfTasks-40 text-center rounded symbol me-3">
                    <span class="icon iconify" data-icon="cil:truck"></span>
                </span>
                <div class="list-body">
                    <h2 class="m-0 text-md">
                        @counts["numberOfTrucks"] <span class="text-sm">@localizer["truck"].ToString().ToLower()</span>
                    </h2>
                    <small class="text-muted">@counts["numberOfTrucksUnFinished"] @localizer["Trucks_unfinished"].</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="box list-item">
                <span class="avatar w-40 text-center rounded symbol me-3">
                    <span class="icon iconify" data-icon="carbon:delivery-parcel"></span>
                </span>
                <div class="list-body">
                    <h2 class="m-0 text-md">
                        @counts["numberOfCargoes"] <span class="text-sm">@localizer["cargo"].ToString().ToLower()</span>
                    </h2>
                    <small class="text-muted">@counts["numberOfCargoesUnFinished"] @localizer["Cargoes_unfinished"].</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="box list-item">
                <span class="avatar w-40 text-center rounded symbol me-3">
                    <span class="icon iconify" data-icon="mdi:account-lock-open"></span>
                </span>
                <div class="list-body">
                    <h2 class="m-0 text-md">
                        @counts["numberOfLogins"] <span class="text-sm">@localizer["logins"].ToString().ToLower()</span>
                    </h2>
                    <small class="text-muted">@counts["numberOfUsers"] @localizer["From_user"].</small>
                </div>
            </div>
        </div>
    </div>

<AuthorizeView>
    <Authorized>
        
        <!--Charts-->
        <div class="charts"><ChartComponent /></div>

        @if (greetings)
        {
            <div class="col-md-3 stretch-card successful-login">
                <div class="card card2 ps-2">
                    <div class="card-body">
                        <h1>
                            <span class="icon iconify" style="margin:0;color:forestgreen;" data-icon="mdi:lock-open-check"></span>
                            @localizer["Hello"] @context.User.Identity?.Name!
                        </h1>
                    </div>
                </div>
            </div>
        }

    </Authorized>
</AuthorizeView>
</div>




