@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor




<ul class="navbar-nav login-nav">
    @{ if (Accessor.HttpContext.Session.GetString("Id") != null)
        {
                @if (Accessor.HttpContext.Session.GetString("Role") == "admin")
            {
                    <li class="nav-item">
                        <a class="nav-name text-dark" asp-area="" asp-controller="Admin" asp-action="Admin_page">
                            @Accessor.HttpContext.Session.GetString("UserName")
                        </a>
                    </li>
            }else{
                    <li class="nav-item">
                        <a class="nav-name text-dark" asp-route-id='@Accessor.HttpContext.Session.GetInt32("Id")' asp-controller="Admin"  asp-action="Edit">
                        @Accessor.HttpContext.Session.GetString("UserName")
                        </a>
                    </li>
            }
                <li class="nav-item top-nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("LogOut","Login")">@App.Resources.Resource.Logout</a>
                </li>
        }
        else
        {
            /*
            <li class="nav-item top-nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@App.Resources.Resource.Registration</a>
            </li>
            */
                <li class="nav-item top-nav-item @ViewBag.login">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login_page">@App.Resources.Resource.Login</a>
                </li>
        }
    }
</ul>
