@page "/Tasks"

<h3>@localizer["Tasks"]</h3>
<div class="form-group">
    <a class="btn btn-success" href="/Tasks/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>
</div>
<br>

@if (tasks == null)
{
    <text>Loading...</text>
}
else if (tasks.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <div class="col-md-8 stretch-card">
        <div class="form-card mb-3 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                @if (showColumns[0])
                                {
                                    <th>@localizer["Partner"]</th>
                                }
                                @if (showColumns[1])
                                {
                                    <th>@localizer["Description"]</th>
                                }
                                @if (showColumns[2])
                                {
                                    <th>@localizer["Place_of_receipt"]</th>
                                } 
                                @if (showColumns[3])
                                {
                                    <th>@localizer["Time_of_receipt"]</th>
                                }
                                @if (showColumns[4])
                                {
                                    <th>@localizer["Place_of_delivery"]</th>
                                }
                                @if (showColumns[5])
                                {
                                    <th>@localizer["Time_of_delivery"]</th>
                                }
                                @if (showColumns[6])
                                {
                                    <th>@localizer["Other_stops"]</th>
                                }
                                @if (showColumns[7])
                                {
                                    <th>@localizer["Id_cargo"]</th>
                                }
                                @if (showColumns[8])
                                {
                                    <th>@localizer["Storage_time"]</th>
                                }
                                @if (showColumns[9])
                                {
                                    <th>@localizer["Completed"]</th>
                                }
                                @if (showColumns[10])
                                {
                                    <th>@localizer["Completion_time"]</th>
                                }
                                @if (showColumns[11])
                                {
                                    <th>@localizer["Time_of_delay"]</th>
                                }
                                @if (showColumns[12])
                                {
                                    <th>@localizer["Payment"]</th>
                                }
                                @if (showColumns[13])
                                {
                                    <th>@localizer["Final_Payment"]</th>
                                }
                                @if (showColumns[14])
                                {
                                    <th>@localizer["Penalty"]</th>
                                }
                                @if (showColumns[15])
                                {
                                    <th>@localizer["Date"]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{int rowCounter = 0;}
                            @foreach (Tasks item in tasks)
                                {
                                rowCounter += 1;
                                    <tr>
                                    <td>@rowCounter</td>
                                    @if (showColumns[0])
                                    {
                                        <td>@item.Partner</td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td>@item.Description</td>
                                    }
                                    @if (showColumns[2])
                                    {
                                        <td>@item.Place_of_receipt</td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td>@item.Time_of_receipt</td>
                                    }
                                    @if (showColumns[4])
                                    {
                                        <td>@item.Place_of_delivery</td>
                                    }
                                    @if (showColumns[5])
                                    {
                                        <td>@item.Time_of_delivery</td>
                                    }
                                    @if (showColumns[6])
                                    {
                                        <td>@item.Other_stops</td>
                                    }
                                    @if (showColumns[7])
                                    {
                                        <td>@item.Id_cargo</td>
                                    }
                                    @if (showColumns[8])
                                    {
                                        <td>@item.Storage_time</td>
                                    }
                                    @if (showColumns[9])
                                    {
                                        if (item.Completed == true)
                                        {
                                            <td>@localizer["True"]</td>
                                        }
                                        else
                                        {
                                            <td>@localizer["False"]</td>
                                        }
                                       
                                    }
                                    @if (showColumns[10])
                                    {
                                        <td>@item.Completion_time</td>
                                    }
                                    @if (showColumns[11])
                                    {
                                        <td>@item.Time_of_delay</td>
                                    }
                                    @if (showColumns[12])
                                    {
                                        <td>@item.Payment</td>
                                    }
                                     @if (showColumns[13])
                                    {
                                    <td>@item.Final_Payment</td>
                                    }
                                    @if (showColumns[14])
                                    {
                                        <td>@item.Penalty</td>
                                    }
                                    @if (showColumns[15])
                                    {
                                        <td>@item.Date</td>
                                    }
                                    <td>
                                        <a class="btn  fixed" href="Tasks/edit/@item.Id"> <span class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Id))"> <span class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @if (settings)
    {
        <Settings OnSettingsClosed="SettingsClosed" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" />
    }
}
@code {
    public bool settings = false;
    Tasks[] tasks { get; set; }
    List<bool> showColumns = Enumerable.Repeat(true, 16).ToList();


    protected override async Task OnInitializedAsync()
    {
        PageHistoryState.AddPageToHistory("/Tasks");
        base.OnInitialized();
        tasks = await client.GetFromJsonAsync<Tasks[]>("api/tasks");
    }

    async Task Delete(int Id)
    {
        var t = tasks.First(x => x.Id == Id);
        if (await js.InvokeAsync<bool>("confirm", $"{@localizer["delete?"]} {t.Partner} ({t.Id})"))
        {
            await client.DeleteAsync($"api/tasks/{Id}");
            await OnInitializedAsync();
        }
    }

    public void SettingsClosed()
    {
        settings = !settings;
    }

    public void SettingsChanged()
    {
        
    }
   
}