@page "/Tasks"


<h3>@localizer["Tasks"]</h3>
<div class="form-group">
    <a class="btn btn-success" href="/Tasks/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
</div>
<br>

@if (tasks == null)
{
    <text>Loading...</text>
}
else if (tasks.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive fixed-table-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@localizer["Partner"]</th>
                                <th>@localizer["Description"]</th>
                                <th>@localizer["Place_of_receipt"]</th>
                                <th>@localizer["Time_of_receipt"]</th>
                                <th>@localizer["Place_of_delivery"]</th>
                                <th>@localizer["Time_of_delivery"]</th>
                                <th>@localizer["Other_stops"]</th>
                                <th>@localizer["Id_cargo"]</th>
                                <th>@localizer["Storage_time"]</th>
                                <th>@localizer["Completed"]</th>
                                <th>@localizer["Completion_time"]</th>
                                <th>@localizer["Time_of_delay"]</th>
                                <th>@localizer["Payment"]</th>
                                <th>@localizer["Final_Payment"]</th>
                                <th>@localizer["Penalty"]</th>
                                <th>@localizer["Date"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Tasks item in tasks)
                                {
                                    i += 1;
                                    <tr>
                                    <td>@i</td>
                                    <td>@item.Partner</td>
                                    <td>@item.Description</td>
                                    <td>@item.Place_of_receipt</td>
                                    <td>@item.Time_of_receipt</td>
                                    <td>@item.Place_of_delivery</td>
                                    <td>@item.Time_of_delivery</td>
                                    <td>@item.Other_stops</td>
                                    <td>@item.Id_cargo</td>
                                    <td>@item.Storage_time</td>
                                    <td>@item.Completed</td>
                                    <td>@item.Completion_time</td>
                                    <td>@item.Time_of_delay</td>
                                    <td>@item.Payment</td>
                                    <td>@item.Final_Payment</td>
                                    <td>@item.Penalty</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a class="btn  fixed" href="Tasks/edit/@item.Id"> <span class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Id))"> <span class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
@code {
    Tasks[] tasks { get; set; }
    int i = 0;
    protected override async Task OnInitializedAsync()
    {
        tasks = await client.GetFromJsonAsync<Tasks[]>("api/tasks");
    }

    async Task Delete(int Id)
    {
        var t = tasks.First(x => x.Id == Id);
        if (await js.InvokeAsync<bool>("confirm", $"{@localizer["delete?"]} {t.Partner} ({t.Id})"))
        {
            await client.DeleteAsync($"api/tasks/{Id}");
            await OnInitializedAsync();
        }
    }
}