@page "/Tasks"


<h3>@localizer["Tasks"]</h3>

<div class="form-group buttons">
    
    <a class="btn btn-success me-4" href="/Tasks/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>

    <li class="d-inline-block" data-title="@localizer["export"]" @onclick="() => expandExportMenu = !expandExportMenu">
        <div class="btn btn-light d-inline-block" >
            <span class="icon iconify export-icon" data-icon="oi:data-transfer-download" style="margin:0;"></span>
        </div>
        @if (expandExportMenu)
        {
            <ul class="nav flex-column export-buttons">
                <button data-title="@localizer["excel"]" class="btn" @onclick="@(() =>FileDownload.Export("Tasks","xlsx",dateFilter,  client, js))"><span class="icon iconify" data-icon="file-icons:microsoft-excel" />XLSX</button>
                <button data-title="@localizer["pdf"]" class="btn" @onclick="@(() =>FileDownload.Export("Tasks","pdf",dateFilter,  client, js))"><span class="icon iconify" data-icon="bi:filetype-pdf" />PDF</button>
                <button data-title="@localizer["txt"]" class="btn" @onclick="@(() =>FileDownload.Export("Tasks","txt",dateFilter,  client, js))"><span class="icon iconify" data-icon="bi:filetype-txt" />TXT</button>
                <button data-title="@localizer["csv"]" class="btn" @onclick="@(() =>FileDownload.Export("Tasks","csv",dateFilter, client, js))"><span class="icon iconify" data-icon="bi:filetype-csv" />CSV</button>
            </ul>
        }
    </li>

    <span class="file-upload-title" import-data-title="@localizer["File_input"]"><UploadFiles page="tasks" StateChanged="StateChanged" /></span>
    <input value="@searchString" @oninput="@Search" placeholder="@(searchString != "" ? searchString : localizer["Search"])" class="form-control inputs input_search" type="search" id="search-input" name="SearchString">
    
    <!--Filter icon-->
    @if (filter == "completed" || filter == "not_completed")
    {
         <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button"><span class="icon iconify filter-icon" data-icon="material-symbols:filter-alt-off"></span></button>
    }
    else
    {
        <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button not-pointer"><span class="icon iconify filter-icon not-pointer" data-icon="material-symbols:filter-alt"></span></button>
    }
    <!--Filter-->
    <div data-title="@localizer["Filter"]" class="form-group custom-select d-inline-block">
        <div class="form-control filter">@(filter != null && filter != "" ? localizer[filter] : localizer["Nothing"])</div>
        <div class="custom-select-options ">
            <div class="custom-select-option" @onclick='() => {filter = null;StateChanged(); }'>
                @localizer["Nothing"]
            </div>
            <div class="custom-select-option" @onclick='() => {filter = "completed";StateChanged(); }'>
                @localizer["completed"]
            </div>
            <div class="custom-select-option" @onclick='() => {filter = "not_completed";StateChanged(); }'>
                @localizer["not_completed"]
            </div>
        </div>
    </div>

    <!--Currency select-->
    <CurrencySelectInput OnCurrencyChanged="SettingsChanged" />

    <!--Date Filter-->
    <div class="date-filter" data-title="@localizer["date-filter-info"]">
        <div class="date-filter-icon-div d-inline-block"><span class="icon iconify date-filter-icon" data-icon="carbon:arrows-vertical" /></div>
        <Input class="form-control" style="border-bottom-right-radius:unset;border-bottom:unset;" type="datetime-local" value="@dateFilter?.StartDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateStartInput(e);})">
        <Input class="form-control" style="border-top-right-radius:unset;border-top:unset;" type="datetime-local" value="@dateFilter?.EndDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateEndInput(e);})">
    </div>

</div>
<br>

@if (FileDownload.DocumentError != null && FileDownload.DocumentError != "")
{
    <p class="error">@FileDownload.DocumentError</p>
}

@if (Tasks == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (Tasks.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div class="col-md-8 stretch-card mb-2 me-3">
        <div class="form-card mb-1 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                @if (showColumns[0])
                                {
                                    <th><button class="@(sortOrder=="Partner" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Partner"))">@localizer["Partner"]</button></th>
                                }
                                @if (showColumns[1])
                                {
                                    <th><button class="@(sortOrder=="Description" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Description"))">@localizer["Description"]</button></th>
                                }
                                @if (showColumns[2])
                                {
                                    <th><button class="@(sortOrder=="Place_of_receipt" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Place_of_receipt"))">@localizer["Place_of_receipt"]</button></th>
                                }
                                @if (showColumns[3])
                                {
                                    <th><button class="@(sortOrder=="Time_of_receipt" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Time_of_receipt"))">@localizer["Time_of_receipt"]</button></th>
                                }
                                @if (showColumns[4])
                                {
                                    <th><button class="@(sortOrder=="Place_of_delivery" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Place_of_delivery"))">@localizer["Place_of_delivery"]</button></th>
                                }
                                @if (showColumns[5])
                                {
                                    <th><button class="@(sortOrder=="Time_of_delivery" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Time_of_delivery"))">@localizer["Time_of_delivery"]</button></th>
                                }
                                @if (showColumns[6])
                                {
                                    <th><button class="@(sortOrder=="other_stops" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("other_stops"))">@localizer["other_stops"]</button></th>
                                }
                                @if (showColumns[7])
                                {
                                    <th><button class="@(sortOrder=="Id_cargo" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Id_cargo"))">@localizer["Id_cargo"]</button></th>
                                }
                                @if (showColumns[8])
                                {
                                    <th><button class="@(sortOrder=="Storage_time" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Storage_time"))">@localizer["Storage_time"]</button></th>
                                }
                                @if (showColumns[9])
                                {
                                    <th><button class="@(sortOrder=="Completed" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Completed"))">@localizer["Completed"]</button></th>
                                }
                                @if (showColumns[10])
                                {
                                    <th><button class="@(sortOrder=="Completion_time" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Completion_time"))">@localizer["Completion_time"]</button></th>
                                }
                                @if (showColumns[11])
                                {
                                    <th><button class="@(sortOrder=="Time_of_delay" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Time_of_delay"))">@localizer["Time_of_delay"]</button></th>
                                }
                                @if (showColumns[12])
                                {
                                    <th><button class="@(sortOrder=="Payment" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Payment"))">@localizer["Payment"]</button></th>
                                }
                                @if (showColumns[13])
                                {
                                    <th><button class="@(sortOrder=="Final_Payment" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Final_Payment"))">@localizer["Final_Payment"]</button></th>
                                }
                                @if (showColumns[14])
                                {
                                    <th><button class="@(sortOrder=="Penalty" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Penalty"))">@localizer["Penalty"]</button></th>
                                }
                                @if (showColumns[15])
                                {
                                    <th><button class="@(sortOrder=="Date" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Date"))">@localizer["Date"]</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Tasks item in Tasks)
                            {
                                <tr 
                                    @onclick="@((e) =>MouseHoverClass.MouseOnclick(item.Id.ToString()))" @onmouseover="@((e) =>MouseHoverClass.MouseOver(item.Id.ToString()))" @onmouseout="@((e) =>MouseHoverClass.MouseOut())"
                            class="@(item.Completed ? "green": "") @(MouseHoverClass.MouseOnHoverClass == item.Id.ToString() || MouseHoverClass.MouseOnclickClass == item.Id.ToString() ? "color-on-hover" :"")
                                ">
                                    <td>@item.Id</td>
                                    @if (showColumns[0])
                                    {
                                        <td>@item.Partner</td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td>@item.Description</td>
                                    }
                                    @if (showColumns[2])
                                    {
                                        <td>@item.Place_of_receipt</td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td>@(item.Time_of_receipt.HasValue ? @item.Time_of_receipt.Value.ToString("yyyy/MM/dd HH:mm") : "")</td>
                                    }
                                    @if (showColumns[4])
                                    {
                                        <td>@item.Place_of_delivery</td>
                                    }
                                    @if (showColumns[5])
                                    {
                                        <td>@(item.Time_of_delivery.HasValue ? @item.Time_of_delivery.Value.ToString("yyyy/MM/dd HH:mm") : "")</td>
                                    }
                                    @if (showColumns[6])
                                    {
                                        <td>@item.Other_stops</td>
                                    }
                                    @if (showColumns[7])
                                    {
                                        <td>
                                            @if(item.Id_cargo != null)
                                            {
                                                <button class="no-button" @onclick="@(()=>GetById(item.Id_cargo,"cargo"))">@item.Id_cargo <span class="icon iconify" data-icon="material-symbols:read-more-rounded"></span></button>
                                            }
                                        </td>
                                    }
                                    @if (showColumns[8])
                                    {
                                        <td>@item.Storage_time</td>
                                    }
                                    @if (showColumns[9])
                                    {
                                        if (item.Completed == true)
                                        {
                                            <td><button @onclick="@(()=>ChangeCompletion(item))" class="no-button">@localizer["True"]<span class="icon iconify completed-icon" data-icon="fluent-mdl2:accept-medium"></span></button></td>
                                        }
                                        else
                                        {
                                            <td><button @onclick="@(()=>ChangeCompletion(item))" class="no-button">@localizer["False"]<span class="icon iconify" style="color:red" data-icon="mdi:alpha-x"></span></button></td>
                                        }
                                    }
                                    @if (showColumns[10])
                                    {
                                        <td>@(item.Completion_time.HasValue ? @item.Completion_time.Value.ToString("MM/dd/yyyy HH:mm") :  "")</td>
                                    }
                                    @if (showColumns[11])
                                    {
                                        <td>@item.Time_of_delay</td>
                                    }
                                    @if (showColumns[12])
                                    {
                                        <td>
                                            @if (@item.Payment != null)
                                            {
                                                @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null && item.Final_Payment != 0)
                                                {
                                                    @(CurrencyExchange.GetCurrency(item.Payment, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange.currency)
                                                }
                                                else if(item.Payment  != 0)
                                                {
                                                    @(item.Payment + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[13])
                                    {
                                          <td>
                                            @if (@item.Final_Payment != null)
                                            {
                                                @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null && item.Final_Payment != 0)
                                                {
                                                    @(CurrencyExchange.GetCurrency(item.Final_Payment, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange. currency)
                                                }
                                                else if (item.Final_Payment != 0)
                                                {
                                                    @(item.Final_Payment + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[14])
                                    {
                                        <td>
                                            @if (@item.Penalty != null)
                                            {
                                                @if (CurrencyExchange.currency != "HUF" && CurrencyExchange.Rates != null && item.Final_Payment != 0)
                                                {
                                                    @(CurrencyExchange.GetCurrency(item.Penalty, CurrencyExchange.currency)!.Value.ToString("0.##") + " " + CurrencyExchange.currency)
                                                }
                                                else if (item.Penalty != 0)
                                                {
                                                    @(item.Penalty + " HUF")
                                                }
                                            }
                                        </td>
                                    }
                                    @if (showColumns[15])
                                    {
                                        <td>@item.Date</td>
                                    }
                                    <td class="@(MouseHoverClass.MouseOnHoverClass == item.Id.ToString() || MouseHoverClass.MouseOnclickClass == item.Id.ToString() ? "show" :"not-show") ">
                                        <a class="btn  fixed" href="Tasks/edit/@item.Id"> <span data-title="@localizer["Edit"]" class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Id))"> <span data-title="@localizer["Delete"]" class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                 <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPage" />
            </div>
        </div>
    </div>

    <div class="hideandshow-cards">
        @if (settings)
        {
            <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
        }
        @if (IdForGetById != null)
        {
            <GetByIdComponent GetById="@IdForGetById.ToString()" GetByIdType="@GetByIdType" OnSetToNull="SetToNull" />
        }
    </div>

}