

<EditForm Model="@tasks" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="top-buttons-card">
        <div class="card-body">
                <div class="form-group">
                    @if (PageHistoryState.CanGoBack())
                {
                    <a href="@PageHistoryState.GetGoBackPage()"><span class="oi oi-arrow-circle-left" aria-hidden="true" b-ffa6apske8=""></span></a>
                }
            </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        <i class="oi oi-circle-check"></i> @localizer[ButtonText]
                    </button>
            </div>
        </div>
    </div>

    <div class="form-card mb-6" style="border-top-left-radius:unset;border-top-right-radius:unset;">
        <div class="card-body mb-3">
            <div class="d-inline-block forms-margin ">
         
                <div class="form-group">
                    <label>@localizer["Partner"]:</label>
                    <div>
                        <InputText class="form-control inputs" @bind-Value="@tasks.Partner" />
                        <ValidationMessage For="@(() => tasks.Partner)" />
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>@localizer["Description"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Description" />
                            <ValidationMessage For="@(() => tasks.Description)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>@localizer["Place_of_receipt"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Place_of_receipt" />
                            <ValidationMessage For="@(() => tasks.Place_of_receipt)" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>@localizer["Time_of_receipt"]:</label>
                        <div>
                            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy.MM.dd. hh:mm" class="form-control inputs" @bind-Value="@tasks.Time_of_receipt" ValueFormat="{0:yyyy/MM/dd}" />
                            <ValidationMessage For="@(() => tasks.Time_of_receipt)" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>@localizer["Place_of_delivery"]:</label>
                        <div>
                            <InputText class="form-control inputs"  @bind-Value="@tasks.Place_of_delivery" />
                            <ValidationMessage For="@(() => tasks.Place_of_delivery)" />
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div>
                        <label>@localizer["Time_of_delivery"]:</label>
                        <div>
                            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy.MM.dd. hh:mm" class="form-control inputs" @bind-Value="@tasks.Time_of_delivery" />
                            <ValidationMessage For="@(() => tasks.Time_of_delivery)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group ">
                    <div>
                        <label>@localizer["Other_stops"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Other_stops" />
                            <ValidationMessage For="@(() => tasks.Other_stops)" />
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="d-inline-block forms-margin">
                  <div class="form-group">
                    <div>
                        <label>@localizer["Id_cargo"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Id_cargo" />
                            <ValidationMessage For="@(() => tasks.Id_cargo)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                    <div>
                        <label>@localizer["Storage_time"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Storage_time" />
                            <ValidationMessage For="@(() => tasks.Storage_time)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                    <div>
                        <label>@localizer["Completion_time"]:</label>
                        <div>
                            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy.MM.dd. hh:mm" class="form-control inputs" @bind-Value="@tasks.Completion_time" />
                            <ValidationMessage For="@(() => tasks.Completion_time)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                    <div>
                        <label>@localizer["Time_of_delay"]:</label>
                        <div>
                            <InputText class="form-control inputs" @bind-Value="@tasks.Time_of_delay" />
                            <ValidationMessage For="@(() => tasks.Time_of_delay)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                    <div>
                        <label>@localizer["Payment"]:</label>
                        <div>
                            <InputNumber class="form-control inputs" @bind-Value="@tasks.Payment" />
                            <ValidationMessage For="@(() => tasks.Payment)" />
                        </div>
                    </div>
                </div>
                  <div class="form-group ">
                    <div>
                        <label>@localizer["Final_Payment"]:</label>
                        <div>
                            <InputNumber class="form-control inputs" @bind-Value="@tasks.Final_Payment" />
                            <ValidationMessage For="@(() => tasks.Final_Payment)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>@localizer["Penalty"]:</label>
                        <div>
                            <InputNumber class="form-control inputs" @bind-Value="@tasks.Penalty" />
                            <ValidationMessage For="@(() => tasks.Penalty)" />
                        </div>
                    </div>
                </div>      
            </div>

            <div class="form-group completed">
                <div>
                    <label>@localizer["Completed"]:</label>
                    <InputCheckbox class="form-check-input" @bind-Value="@tasks.Completed" />
                    <ValidationMessage For="@(() => tasks.Completed)" />
                </div>
            </div>

         
    </div>
</div>

</EditForm>


@code {
    [Parameter] public Tasks? tasks { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}