<div class="getbyid-card mb-6">
    <div class="card-body">
        <div class="ms-0">
            <a class="btn btn-danger x" @onclick="@( ()=> SetToNull())"><i class="oi oi-x"></i></a>
            @if (currency_api_error != null && currency_api_error != "")
            {
                <div class="d-inline-block mt-3 mb-4">
                    <button class="no-button currency-api-error-icon error d-inline-block" @onclick="@(() => showError=!showError)">
                        <span class="icon iconify d-inline" style="color:darkred;" data-icon="material-symbols:error-circle-rounded-outline"></span>
                    </button>
                    <p class="error currency-api-error-in-child d-inline-block">
                        @if (showError)
                        {
                            @localizer[@currency_api_error]
                        }
                    </p>
                </div>
            }
            <NavLink href="Cargoes" data-title="@localizer["go_to_cargoes"]">
                <h2 class="align-center fw-bold">@localizer["Cargo"]</h2>
            </NavLink>
            <div class="row mt-4">
                <div class="column">
                    <p><b>@localizer["Weight"]:</b></p>
                    <p><b>@localizer["Description"]:</b></p>
                    <p><b>@localizer["Delivery_requirements"]:</b></p>
                    <p><b>@localizer["Vehicle_registration_number"]:</b></p>
                    <p><b>@localizer["Warehouse_id"]:</b></p>
                    <p><b>@localizer["Warehouse_section"]:</b></p>
                    <p><b>@localizer["Storage_starting_time"]:</b></p>
                    <p><b>@localizer["Date"]:</b></p>
                </div>
                <div class="column">
                    <p>@(idData?.Weight != null ? (idData.Weight + " kg") : "-")</p>
                    <p>@(idData?.Description != null ? idData.Description : "-") </p>
                    <p>@(idData?.Delivery_requirements != null ? idData.Delivery_requirements : "-") </p>
                    <p>@(idData?.Vehicle_registration_number != null ? idData.Vehicle_registration_number : "-")</p>
                    <p>@(idData?.Warehouse_id != null ? idData.Warehouse_id : "-") </p>
                    <p>@(idData?.Warehouse_section != null ? idData.Warehouse_section : "-") </p>
                    <p>@(idData?.Storage_starting_time != null ? idData.Storage_starting_time : "-") </p>
                    <p>@idData?.Date</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Cargoes? idData { get; set; }
    [Parameter] public EventCallback onSetToNull { get; set; }
    [Parameter] public int? getById { get; set; }
    string? currency_api_error;
    bool showError = true;

    protected override async Task OnParametersSetAsync()
    {
        if (getById != null)
        {
            idData = await client.GetFromJsonAsync<Cargoes?>($"api/cargoes/getbyid/{getById}");
        }
    }

    protected async Task SetToNull()
    {
        await onSetToNull.InvokeAsync();
    }
}