<!--
    Az alkalmazás egyetemi szakdolgozat céljából készül! így minden ehhez kapcsolódó szabály érvényes rá.
    Az alkalmazás a fejlesztés során valós adatokat nem tartalmaz.
-->


<EditForm class="privacy-form" Model="@privacies" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-card mt-3 modal-shadow">
        <div class="card-body mb-3 privacy-form-card ">
                <div class="d-inline-block ms-5 me-5 center-div">
                    <h1 class="align-center">@localizer["Add_privacy"]</h1>
                    <a class="btn btn-danger x" @onclick="@WindowClosedAsync"><i class="oi oi-x"></i></a>
                    <div class="form-group">
                        <div>
                            <label>@localizer["Language"]:</label>
                            <div>
                                <div data-title="@localizer["Filter"]" class="form-group custom-select d-inline-block">
                                    <div class="form-control filter">@(privacies?.Lang != null && privacies.Lang.ToString() != "" ? localizer[privacies.Lang?.ToString()!] : localizer["Nothing"])</div>
                                    <div class="custom-select-options ">
                                        <div class="custom-select-option" @onclick='() => {privacies!.Lang = "";}'>
                                            @localizer["Nothing"]
                                        </div>
                                        @foreach (var culture in supportedCultures)
                                        {
                                            <div class="custom-select-option" @onclick='() => {privacies!.Lang = culture.DisplayName; }'>
                                                @localizer[culture.DisplayName]
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <ValidationMessage For="@(() => privacies!.Lang)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                        <label>@localizer["Privacy_name"]:</label>
                            <div>
                            <InputText class="form-control inputs" @bind-Value="@privacies!.Name" />
                            <ValidationMessage For="@(() => privacies.Name)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                        <label>@localizer["Privacy_text"]:</label>
                            <div>
                            <InputTextArea class="form-control inputs textarea" @bind-Value="@privacies.Text" />
                                <ValidationMessage For="@(() => privacies.Text)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4 text-center">
                        <button type="submit" class="btn btn-primary">
                            @localizer["Save"]
                        </button>
                    </div>
              </div>
        </div>
    </div>

</EditForm>


@code {
    [Parameter] public PrivacyDto? privacies { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public bool addNewWindow { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback OnWindowClosed { get; set; }

    protected async System.Threading.Tasks.Task WindowClosedAsync()
    {
        await OnWindowClosed.InvokeAsync();
    }

    private CultureInfo[] supportedCultures = new[]
       {
        new CultureInfo("hu"),
        new CultureInfo("en"),
    };
}