@page "/Privacy"
@inject IStringLocalizer<Resource> localizer
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js


@if (privacies == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (privacies.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div>
        <div class="col-md-6 stretch-card">
            @foreach(var item in privacies)
            {
                @if(item.Text != null){
                    <div class="card card2 mt-2 pe-4 ps-2">
                        <div class="card-body privacy-card d-inline">
                            @if (item.Name != null && showtext[item.Id])
                            {
                                <button class="privacy-button not-pointer me-0" @onclick="@(()=>Show(item.Id))"><h1><span class="icon iconify d-inline" data-icon="material-symbols:keyboard-double-arrow-up"></span>@item.Name</h1></button>

                            }
                            else if (item.Name != null && !showtext[item.Id])
                            {
                                <button class="privacy-button not-pointer me-0" @onclick="@(()=>Show(item.Id))"><h1><span class="icon iconify d-inline" data-icon="material-symbols:keyboard-double-arrow-down"></span>@item.Name</h1></button>
                            }
                            @if (showtext[item.Id] || item.Name == null){
                                <h1 class="@(item.Name==null ? "ms-2" : "ms-5")">@item.Text</h1>
                            }
                            <button class="btn fixed-privacy" @onclick="@(() => DeleteAsync(item.Id))"> <span data-title="@localizer["Delete"]" class="oi oi-trash" aria-hidden="true"></span></button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
 
}

@if (addNewWindow)
{
    <AuthorizeView Roles="Admin">
        <Authorized>
            <Form OnWindowClosed="WindowClosed" addNewWindow="addNewWindow" ButtonText="Submit" privacies="privacy" OnValidSubmit="@CreatePrivacyAsync" />
        </Authorized>
    </AuthorizeView>
}
else
{
    <AuthorizeView Roles="Admin">
        <Authorized>
           <a class="btn btn-light add-privacy" @onclick="@(() => addNewWindow=!addNewWindow)"><span class="icon iconify d-inline" style="color:forestgreen;" data-icon="material-symbols:add-circle"></span>@localizer["Add_privacy"]</a>
        </Authorized>
    </AuthorizeView>
}

@code{
    private bool addNewWindow = false;
    PrivacyDto[]? privacies { get; set; }
    PrivacyDto privacy = new PrivacyDto();
    Dictionary<dynamic, bool> showtext = new Dictionary<dynamic, bool>();

    protected override async Task OnInitializedAsync()
    {
        PageHistoryState.AddPageToHistory("/Privacy");
        base.OnInitialized();
        privacies = await client.GetFromJsonAsync<PrivacyDto[]>($"api/privacies/get?lang={CultureInfo.CurrentCulture.ToString()}");
        showtext.Clear();
        if(privacies != null){
            foreach (var item in privacies)
            {
                if (item != null)
                {
                    showtext.Add(item.Id, false);
                }
            }
        }
    }

    async Task DeleteAsync(int Id)
    {
        var data = privacies?.First(x => x.Id == Id);
        if (await js.InvokeAsync<bool>("confirm", $"{@localizer["Delete?"]} {data?.Name}  {data?.Text} - {data?.Language}({data?.Id})"))
        {
            await client.DeleteAsync($"api/privacies/delete/{Id}");
            await OnInitializedAsync();
        }
    }

    async Task CreatePrivacyAsync()
    {
        await http.PostAsJsonAsync("api/privacies/post", privacy);
         await OnInitializedAsync();
    }

    protected void Show(int id)
    {
        showtext[id] = !showtext[id];
        StateHasChanged();
    }

    public void WindowClosed()
    {
        addNewWindow = !addNewWindow;
    }
}