<div class="col-md-6 stretch-card d-inline-block ">
    <div class="card ps-2">
        <div class="card-body ">
            <h1 class="h4 font-weight-normal login-title">
                @localizer["Edit_profile"]
            </h1>
            <EditForm class="form-signin profile-form" OnValidSubmit="OnSubmit" Model="updateRequest">
                <DataAnnotationsValidator />

                <label for="inputUsername" class="input-only">@localizer["Username"]</label>
                <InputText id="inputUsername" class="form-control" autofocus @bind-Value="@updateRequest.UserName" />
                <ValidationMessage For="@(() => updateRequest.UserName)" />

                <label for="inputPassword" class="input-only">@localizer["Password"]</label>
                <InputText type="password" id="inputPassword" class="form-control" @bind-Value="@updateRequest.Password" />
                <ValidationMessage For="@(() => updateRequest.Password)" />

                <label for="inputPasswordConfirm" class="input-only">@localizer["PasswordConfirm"]</label>
                <InputText type="password" id="inputPasswordConfirm" class="form-control" @bind-Value="@updateRequest.PasswordConfirm" />
                <ValidationMessage For="@(() => updateRequest.PasswordConfirm)" />

                <label for="inputEmail" class="input-only">@localizer["Email"]</label>
                <InputText type="text" id="inputEmail" class="form-control" @bind-Value="@updateRequest.Email" />
                <ValidationMessage For="@(() => updateRequest.Email)" />

                <label for="inputPhoneNumber" class="input-only">@localizer["Phone_number"]</label>
                <InputText type="text" id="inputPhoneNumber" class="form-control" @bind-Value="@updateRequest.PhoneNumber" />
                <ValidationMessage For="@(() => updateRequest.PhoneNumber)" />

                <label for="inputRole" class="input-only">@localizer["Role"]</label>
                <select for="inputRole" class="form-control" name="role" id="role" @bind="@updateRequest.Role">
                    <option value="User">@localizer["User"]</option>
                    <option value="Admin">@localizer["Admin"]</option>
                    <option value="Driver">@localizer["Driver"]</option>
                    <option value="Manager">@localizer["Manager"]</option>
                    <option value="Storageman">@localizer["Storageman"]</option>
                </select>
                <button class="btn btn-sm btn-primary btn-block mt-3" type="submit">@localizer["Edit"]</button>

                <label class="text-danger">@error</label>
            </EditForm>
        </div>
    </div>
</div>

@code {
    @functions {

        UpdateRequest updateRequest { get; set; } = new UpdateRequest();
        string error { get; set; }

        async Task OnSubmit()
        {
            error = null;
            try
            {
                await authStateProvider.Update(updateRequest);
                navigationManager.NavigateTo("/profile", true);
            }
            catch (Exception ex)
            {
                error = ex.Message;
            }
        }
    }
}
