@page "/Profile"
@using Cargotruck.Shared.Resources
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer



<div class="col-md-4 stretch-card d-inline-block align-center">
    <div class="card" >
        <div class="card-body">
            <h1 class="h4 font-weight-normal login-title ">
                @localizer["Profile"]
            </h1>
            <AuthorizeView>
                <Authorized>
                    <ul>
                        <table class=" d-inline-block align-left"> 
                            @foreach (var claim in context.User.Claims){

                                //<li>@claim.Type: @claim.Value</li>
                                @if (@claim.Type.Contains("img"))
                                {
                                    <img src="@claim.Value" class="profile_picture" alt="profile">
                                    <br><br>
                                 
                                }
                                @if(@claim.Type.Contains("role")){
                                  
                                    <tr>
                                        <td><b>@localizer["Role"]:</b></td>
                                        <td>@claim.Value</td>
                                    </tr>
                              
                                } 
                            }
                            <tr>
                                <td><b>@localizer["Username"]:</b></td>
                                <td>@context.User.Identity.Name</td>
                            </tr>
                                <tr>      
                                    <td><b>@localizer["Phone_number"]:</b></td>
                                        <td>@currentUserPhone</td>
                                </tr>
                              
                         
                                <tr>
                                    <td><b>@localizer["Email"]:</b></td>
                                    <td>@currentUserEmail</td>
                                </tr>
                            <a class="btn btn-sm btn-primary mt-4" @onclick="@(() => edit=!edit)"> <span class="oi oi-pencil" aria-hidden="true"></span> @localizer["Edit_profile"]</a>
                            <br />
                            <a class="btn btn-sm btn-primary mt-2" @onclick="@(() => changePassword=!changePassword)"> <span class="iconify" style="margin-right:2px;" data-icon="carbon:password" aria-hidden="true"></span>@localizer["Change_password"]</a>
                        </table>                 
                    </ul>
                </Authorized>
                <Authorizing>
                    <img src="~/css/img/loading.gif" alt="loading" width="500" height="600">
                </Authorizing>
            </AuthorizeView>
        </div>
    </div>
</div>



@if(edit){
    <Edit />
}
@if (changePassword)
{
    <ChangePassword />
}

@code {
    private bool edit = false;
    private bool changePassword = false;

    public string currentUserPhone { get; set; }
    public string currentUserEmail { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var user = await authStateProvider.GetCurrentUser();
        currentUserPhone = user.PhoneNumber;
        currentUserEmail = user.Email;
    }
}
   