<div class="overlay">
    <div class="delete-modal justify-content-center">
        <div class="modal-dialog">
            <div class="modal-content modal-shadow">
                <div class="modal-header">
                    <h5 class="modal-title">@localizer["Delete_task"]</h5>
                    <a class="btn btn-danger x" @onclick="@(()=> CloseWindow())"><i class="oi oi-x"></i></a>
                </div>
                <div class="modal-body">
                    <p>@localizer["Delete?"] (@Id)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="@(()=> CloseWindow())">@localizer["Cancel"]</button>
                    <button type="button" class="btn btn-danger" @onclick="Delete">@localizer["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Controller { get; set; }
    [Parameter] public EventCallback OnCloseDeleteConfirmationWindow { get; set; }
    [Parameter] public EventCallback<bool> OnRenderParent { get; set; }

    protected async Task CloseWindow()
    {
        await OnCloseDeleteConfirmationWindow.InvokeAsync();
    }

    private async Task Delete()
    {
        var delete = await client.DeleteAsync($"api/{Controller}/delete/{Id}");
        await CloseWindow();
        await OnRenderParent.InvokeAsync(delete.IsSuccessStatusCode);
    }
}
