
<div class="getbyid-card mb-6">
    <div class="card-body">
        <div class="ms-0">
            <a class="btn btn-danger x" @onclick="@( ()=> SetToNullAsync())"><i class="oi oi-x"></i></a>
            @if (GetByIdType == "cargo" || GetByIdType == "storage")
            {
                <NavLink href="Cargoes" data-title="@localizer["go_to_cargoes"]">
                    <h2 class="align-center fw-bold">@localizer["cargo"]</h2>
                </NavLink>
                <div id="cargo" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Weight"]:</b></p>
                        <p><b>@localizer["Description"]:</b></p>
                        <p><b>@localizer["Delivery_requirements"]:</b></p>
                        <p><b>@localizer["Vehicle_registration_number"]:</b></p>
                        <p><b>@localizer["Warehouse_id"]:</b></p>
                        <p><b>@localizer["Warehouse_section"]:</b></p>
                        <p><b>@localizer["Storage_starting_time"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataCargo?.Weight != null ? (idDataCargo.Weight + "kg") : "-")</p>
                        <p>@(idDataCargo?.Description != null ? idDataCargo.Description : "-") </p>
                        <p>@(idDataCargo?.DeliveryRequirements != null ? idDataCargo.DeliveryRequirements : "-") </p>
                        <p>@(idDataCargo?.VehicleRegistrationNumber != null ? idDataCargo.VehicleRegistrationNumber : "-")</p>
                        <p>@(idDataCargo?.WarehouseId != null ? idDataCargo.WarehouseId : "-") </p>
                        <p>@(idDataCargo?.WarehouseSection != null ? idDataCargo.WarehouseSection : "-") </p>
                        <p>@(idDataCargo?.StorageStartingTime != null ? idDataCargo.StorageStartingTime : "-") </p>
                        <p>@(idDataCargo?.Date.ToString())</p>
                    </div>
                </div>
            }
            else if (GetByIdType == "road" || GetByIdType == "repair")
            {
                <NavLink href="Roads" data-title="@localizer["go_to_roads"]">
                    <h2 class="align-center fw-bold">@localizer["road"]</h2>
                </NavLink>
                <div id="road" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Task_id"]:</b></p>
                        <p><b>@localizer["Cargo_id"]:</b></p>
                        <p><b>@localizer["Purpose_of_the_trip"]:</b></p>
                        <p><b>@localizer["Starting_date"]:</b></p>
                        <p><b>@localizer["Ending_date"]:</b></p>
                        <p><b>@localizer["Starting_place"]:</b></p>
                        <p><b>@localizer["Ending_place"]:</b></p>
                        <p><b>@localizer["Direction"]:</b></p>
                        <p><b>@localizer["Expenses_id"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataRoad?.TaskId != null ? (idDataRoad.TaskId) : "-")</p>
                        <p>@(idDataRoad?.CargoId != null ? idDataRoad.CargoId : "-") </p>
                        <p>@(idDataRoad?.PurposeOfTheTrip != null ? idDataRoad.PurposeOfTheTrip : "-") </p>
                        <p>@(idDataRoad?.StartingDate != null ? idDataRoad.StartingDate : "-")</p>
                        <p>@(idDataRoad?.EndingDate != null ? idDataRoad.EndingDate : "-") </p>
                        <p>@(idDataRoad?.StartingPlace != null ? idDataRoad.StartingPlace : "-") </p>
                        <p>@(idDataRoad?.EndingPlace != null ? idDataRoad.EndingPlace : "-") </p>
                        <p>@(idDataRoad?.Direction != null ? (idDataRoad.Direction == "TO" ? @localizer["to"] : @localizer["from"]) : "-") </p>
                        <p>@(idDataRoad?.ExpensesId != null ? idDataRoad.ExpensesId : "-") </p>
                        <p>@(idDataRoad?.Date.ToString())</p>
                    </div>
                </div>
            }
            else if (GetByIdType == "truck")
            {
                <NavLink href="Trucks" data-title="@localizer["go_to_trucks"]">
                    <h2 class="align-center fw-bold">@localizer["truck"]</h2>
                </NavLink>
                <div id="truck" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Vehicle_registration_number"]:</b></p>
                        <p><b>@localizer["Brand"]:</b></p>
                        <p><b>@localizer["Status"]:</b></p>
                        <p><b>@localizer["Road_id"]:</b></p>
                        <p><b>@localizer["Max_weight"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataTruck?.VehicleRegistrationNumber != null ? (idDataTruck.VehicleRegistrationNumber + "kg") : "-")</p>
                        <p>@(idDataTruck?.Brand != null ? idDataTruck.Brand : "-") </p>
                        <p>@(idDataTruck?.Status != null ? localizer[idDataTruck.Status.ToString()] : "-") </p>
                        <p>@(idDataTruck?.RoadId != null ? idDataTruck.RoadId : "-")</p>
                        <p>@(idDataTruck?.MaxWeight != null ? idDataTruck.MaxWeight : "-") </p>
                        <p>@(idDataTruck?.Date.ToString())</p>
                    </div>
                </div>
            }
            else if (GetByIdType == "warehouse")
            {
                <NavLink href="Warehouses" data-title="@localizer["go_to_warehouses"]">
                    <h2 class="align-center fw-bold">@localizer["Warehouse"]</h2>
                </NavLink>
                <div id="warehouse" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Warehouse_address"]:</b></p>
                        <p><b>@localizer["Warehouse_owner"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataWarehouse?.Address != null ? idDataWarehouse.Address : "-")</p>
                        <p>@(idDataWarehouse?.Owner != null ? idDataWarehouse.Owner : "-")</p>
                        <p>@(idDataWarehouse?.Date.ToString())</p>
                    </div>
                </div>
            }
            else if (GetByIdType == "task")
            {
                <NavLink href="Tasks" data-title="@localizer["go_to_tasks"]">
                    <h2 class="align-center fw-bold">@localizer["Task"]</h2>
                </NavLink>

                <div class="getbyid-currency-input">
                    <!--Currency select-->
                    <CurrencySelectInput OnCurrencyChanged="SettingsChanged" />
                </div>

                <div id="task" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Partner"]:</b></p>
                        <p><b>@localizer["Description"]:</b></p>
                        <p><b>@localizer["Place_of_receipt"]:</b></p>
                        <p><b>@localizer["Time_of_receipt"]:</b></p>
                        <p><b>@localizer["Place_of_delivery"]:</b></p>
                        <p><b>@localizer["Time_of_delivery"]:</b></p>
                        <p><b>@localizer["Other_stops"]:</b></p>
                        <p><b>@localizer["Cargo_id"]:</b></p>
                        <p><b>@localizer["Storage_time"]:</b></p>
                        <p><b>@localizer["Completed"]:</b></p>
                        <p><b>@localizer["Completion_time"]:</b></p>
                        <p><b>@localizer["Time_of_delay"]:</b></p>
                        <p><b>@localizer["Payment"]:</b></p>
                        <p><b>@localizer["Final_payment"]:</b></p>
                        <p><b>@localizer["Penalty"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataTask?.Partner != null ? (idDataTask.Partner) : "-")</p>
                        <p>@(idDataTask?.Description != null ? idDataTask.Description : "-")</p>
                        <p>@(idDataTask?.PlaceOfReceipt != null ? idDataTask.PlaceOfReceipt : "-")</p>
                        <p>@(idDataTask?.TimeOfReceipt != null ? idDataTask.TimeOfReceipt : "-")</p>
                        <p>@(idDataTask?.PlaceOfDelivery != null ? idDataTask.PlaceOfDelivery : "-")</p>
                        <p>@(idDataTask?.TimeOfDelivery != null ? idDataTask.TimeOfDelivery : "-")</p>
                        <p>@(idDataTask?.OtherStops != null ? idDataTask.OtherStops : "-")</p>
                        <p>@(idDataTask?.CargoId != null ? idDataTask.CargoId : "-")</p>
                        <p>@(idDataTask?.StorageTime != null ? idDataTask.StorageTime : "-")</p>
                        <p>@(idDataTask?.Completed != null ? (idDataTask.Completed ? localizer["True"] : localizer["False"]) : "-")</p>
                        <p>@(idDataTask?.CompletionTime != null ? idDataTask.CompletionTime : "-") </p>
                        <p>@(idDataTask?.TimeOfDelay != null ? idDataTask.TimeOfDelay : "-")</p>
                        <p>
                            @if (idDataTask?.Payment != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataTask.Payment, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataTask.Payment != 0)
                                {
                                    @(idDataTask.Payment + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataTask?.FinalPayment != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataTask.FinalPayment, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataTask.FinalPayment != 0)
                                {
                                    @(idDataTask.FinalPayment + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataTask?.Penalty != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataTask.Penalty, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataTask.Penalty != 0)
                                {
                                    @(idDataTask.Penalty + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>@(idDataTask?.Date.ToString())</p>
                    </div>
                </div>
            }
            else if (GetByIdType == "expense")
            {
                <NavLink href="Expenses" data-title="@localizer["go_to_expenses"]">
                    <h2 class="align-center fw-bold">@localizer["Expense"]</h2>
                </NavLink>

                <div class="getbyid-currency-input">
                    <!--Currency select-->
                    <CurrencySelectInput OnCurrencyChanged="SettingsChanged" />
                </div>

                <div id="expense" class="row mt-4">
                    <div class="column">
                        <p><b>@localizer["Type"]:</b></p>
                        <p><b>@localizer["Type_id"]:</b></p>
                        <p><b>@localizer["Fuel"]:</b></p>
                        <p><b>@localizer["Road_fees"]:</b></p>
                        <p><b>@localizer["Penalty_expenses"]:</b></p>
                        <p><b>@localizer["Driver_spending"]:</b></p>
                        <p><b>@localizer["Driver_salary"]:</b></p>
                        <p><b>@localizer["Repair_cost"]:</b></p>
                        <p><b>@localizer["Repair_description"]:</b></p>
                        <p><b>@localizer["Cost_of_storage"]:</b></p>
                        <p><b>@localizer["Other"]:</b></p>
                        <p><b>@localizer["Date"]:</b></p>
                    </div>
                    <div class="column">
                        <p>@(idDataExpense?.Type != null ? @localizer[idDataExpense.Type.ToString()!] : "-")</p>
                        <p>@(idDataExpense?.TypeId != null ? idDataExpense.TypeId : "-")</p>
                        <p>
                            @if (idDataExpense?.Fuel != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.Fuel, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.Fuel != 0)
                                {
                                    @(idDataExpense?.Fuel + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.RoadFees != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.RoadFees, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.RoadFees != 0)
                                {
                                    @(idDataExpense?.RoadFees + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.Penalty != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.Penalty, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.Penalty != 0)
                                {
                                    @(idDataExpense?.Penalty + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.DriverSpending != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.DriverSpending, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.DriverSpending != 0)
                                {
                                    @(idDataExpense?.DriverSpending + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.DriverSalary != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.DriverSalary, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.DriverSalary != 0)
                                {
                                    @(idDataExpense?.DriverSalary + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.RepairCost != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.RepairCost, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.RepairCost != 0)
                                {
                                    @(idDataExpense?.RepairCost + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>@(idDataExpense?.RepairDescription != null ? idDataExpense.RepairDescription : "-")</p>
                        <p>
                            @if (idDataExpense?.CostOfStorage != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.CostOfStorage, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.CostOfStorage != 0)
                                {
                                    @(idDataExpense?.CostOfStorage + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>
                            @if (idDataExpense?.Other != null)
                            {
                                @if (currencyExchange.GetCurrencyType() != "HUF" && currencyExchange.GetRates() != null)
                                {
                                    @(currencyExchange.GetCurrencyAmount(idDataExpense?.Other, currencyExchange.GetCurrencyType())!.Value.ToString("0.##") + " " + currencyExchange.GetCurrencyType())
                                }
                                else if (idDataExpense?.Other != 0)
                                {
                                    @(idDataExpense?.Other + " HUF")
                                }

                            }
                            else
                            {
                                @("-")
                            }
                        </p>
                        <p>@(idDataExpense?.Date.ToString())</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>