@page "/Warehouses"
@using Cargotruck.Client.Components

<h3>@localizer["Warehouses"]</h3>
<div class="form-group buttons">
    <a class="btn btn-success me-4" href="/Warehouses/create"><i class="oi oi-plus"></i> @localizer["Add"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>
    <button data-title="@localizer["pdf"]" class="btn btn-light" @onclick="@ExportToPdf"><i class="oi oi-document"></i></button>
    <button data-title="@localizer["excel"]" class="btn btn-light" @onclick="@ExportToExcel"><i class="oi oi-spreadsheet"></i></button>
    <button data-title="@localizer["txt"]" class="btn btn-light" @onclick="@(() => ExportToCSV("txt"))"><span class="icon iconify" style="margin:0;" data-icon="material-symbols:text-snippet-outline"></span></button>
    <button data-title="@localizer["csv"]" class="btn btn-light" @onclick="@(() => ExportToCSV("csv"))"><span class="icon iconify" style="margin:0;" data-icon="bi:filetype-csv"></span></button>
    <span class="file-upload-title" import-data-title="@localizer["File_input"]"><UploadFiles page="warehouses" StateChanged="StateChanged" /></span>
    <input value="@searchString" @oninput="@Search" placeholder="@(searchString != "" ? searchString : localizer["Search"])" class="form-control inputs input_search" type="search" id="search-input" name="SearchString">
    <div class="date-filter" data-title="@localizer["date-filter-info"]">
        <Input class="form-control" type="datetime-local" value="@dateFilter?.StartDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateStartInput(e);})">
        <Input class="form-control" type="datetime-local" value="@dateFilter?.EndDate.GetValueOrDefault().ToString("yyyy-MM-ddTHH:mm", CultureInfo.CurrentCulture)" @oninput="@((e)=>{DateEndInput(e);})">
    </div>
</div>
<br>
<p class="error">@document_error</p>

@if (Warehouses == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (Warehouses.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <div class="col-md-8 stretch-card mb-2 me-3">
        <div class="form-card mb-1 table-width">
            <div class="card-body mb-3">
                <div class="table-responsive fixed-table-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="counter-col"> </th>
                                @if (showColumns[0])
                                {
                                    <th><button class="@(sortOrder=="Address" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Address"))">@localizer["Address"]</button></th>
                                }
                                @if (showColumns[1])
                                {
                                    <th><button class="@(sortOrder=="Owner" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Owner"))">@localizer["Owner"]</button></th>
                                }
                                @if (showColumns[2])
                                {
                                    <th><button>@localizer["Cargo_id"]</button></th>
                                }
                                @if (showColumns[3])
                                {
                                    <th class="last-col"><button class="@(sortOrder=="Date" ? (desc ? "arrow-down" : "arrow-up") : "arrow-no-sorting")" @onclick="@(() => Sorting("Date"))">@localizer["Date"]</button></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach (Warehouses item in Warehouses)
                            {
                                
                                <tr>
                                    <td>@item.Id</td>
                                  
                                    @if (showColumns[0])
                                    {
                                        <td>@item.Address</td>
                                    }
                                    @if (showColumns[1])
                                    {
                                        <td> @item.Owner </td>
                                    }
                                    @if (showColumns[2])
                                    {
                                        <td>
                                            @if (Cargoes != null)
                                            {
                                            @foreach (var cargo in Cargoes)
                                            {
                                                    @if(cargo.Warehouse_id==item.Id)
                                                    {
                                                        <button class="no-button" @onclick="@(()=>GetById(cargo.Id,"cargo"))"> @(cargo.Warehouse_section != null ? (cargo.Id + "/" + cargo.Warehouse_section + " ") : cargo.Id + " ")</button>
                                                    }                                      
                                            }
                                        }
                                        </td>
                                    }
                                    @if (showColumns[3])
                                    {
                                        <td class="last-col">@item.Date</td>
                                    }
                                    <td>
                                        <a class="btn  fixed" href="Warehouses/edit/@item.Id"> <span data-title="@localizer["Edit"]" class="oi oi-pencil" aria-hidden="true"></span></a>
                                        <button class="btn fixed2" @onclick="@(() => Delete(item.Id))"> <span data-title="@localizer["Delete"]" class="oi oi-trash" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPage" />
            </div>
        </div>
    </div>

    <div class="hideandshow-cards">
        @if (settings)
        {
            <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
        }
        @if (IdForGetById != null)
        {
            <GetbyidComponent getById="@IdForGetById.ToString()" getByIdType="@GetByIdType" OnSetToNull="SetToNull" />
        }
    </div>
}