
<div class="settings-card mb-6">
    <div class="card-body mb-3">
        <div class="d-inline-block ms-5">
        <a class="btn btn-danger x" @onclick="@SettingsClosedAsync"><i class="oi oi-x"></i></a>
            <div class="form-group">
                <div>
                <label>
                        @localizer["Address"]:
                    <input type="checkbox" @onchange="@(async () =>{ showColumns[0]=!showColumns[0]; await SettingsChangedAsync();})" class="form-check-input" checked="@showColumns[0]" />
                    </label>
                </div>
            </div>
            <div class="form-group ">
                <div>
                <label>
                        @localizer["Owner"]:
                    <input type="checkbox" @onchange="@(async () =>{ showColumns[1]=!showColumns[1]; await SettingsChangedAsync();})" class="form-check-input" checked="@showColumns[1]" />
                    </label>
                </div>
            </div>
            <div class="form-group ">
                <div>
                <label>
                        @localizer["Cargo_id"]:
                    <input type="checkbox" @onchange="@(async () =>{ showColumns[2]=!showColumns[2]; await SettingsChangedAsync();})" class="form-check-input" checked="@showColumns[2]" />
                    </label>
                </div>
            </div>
                <div class="form-group ">
                    <div>
                        <label>
                        @localizer["Date"]:
                        <input type="checkbox" @onchange="@(async () =>{ showColumns[3]=!showColumns[3]; await SettingsChangedAsync();})" class="form-check-input" checked="@showColumns[3]" />
                        </label>
                    </div>
                </div>
            </div>

        <div class="form-group mt-2">
            <div>
                <label class="ms-5">
                    @localizer["PageSize"]:
                    <input class="number-input" value="@pageSize" @oninput="@InputChangeAsync" type="number" />   
                </label>
            </div>
        </div>
    </div>
</div>

   


@code {
    [Parameter] public List<bool> showColumns { get; set; } = new();
    [Parameter] public bool settings { get; set; }
    [Parameter] public int pageSize { get; set; }
    [Parameter] public  EventCallback  OnSettingsChanged { get; set; }
    [Parameter] public  EventCallback  OnSettingsClosed { get; set; }
    [Parameter] public EventCallback<int> OnInputChanged { get; set; }

    protected async Task SettingsChangedAsync()
    {
        await OnSettingsChanged.InvokeAsync();
    }

    protected async Task SettingsClosedAsync()
    {
        await OnSettingsClosed.InvokeAsync();
    }

    private async Task InputChangeAsync(ChangeEventArgs args)
    {
        pageSize = string.IsNullOrEmpty(args.Value?.ToString()) ? pageSize : Int32.Parse(args.Value?.ToString()!);
        await OnInputChanged.InvokeAsync(pageSize);
    }
}