@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@model App.Models.Users
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = App.Resources.Resource.Title_login;
    if (App.Resources.Resource.Title_login == "Login") { ViewBag.logintitle = "en-title"; }
    else{ ViewBag.logintitle = "login-title"; }
}

<div id="login-div">
    @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {
        <table>
            <tr>
                <td class="@ViewBag.logintitle"><h1>@ViewData["Title"]</h1><hr /></td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserName)
                </td>
                <td class="form-input">
                    @Html.EditorFor(model => model.UserName)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PasswordHash)</td>
                <td class="form-input">
                    @Html.EditorFor(model => model.PasswordHash)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="field-validation-error space-for-error2">@TempData["LoginErrorMessage"]</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="btn btn-primary" type="submit" name="name" value="@App.Resources.Resource.Login" />
                </td>
            </tr>
        </table>
    }
</div>

  @section scripts{
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
  }