@using Cargotruck.Shared.Resources
@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> localizer


<div class="page" >
    <div class="sidebar" @onclick="()=>expandSubMenu= false">
        <NavMenu />
    </div>

    <main >
        <div class="top-row px-4">
            <NavLink href="/Privacy">
                <span class="about ms-5" aria-hidden="true">@localizer["Privacy"]</span>
            </NavLink> 
            <AuthorizeView>
                <Authorized>    
                    <li class="username" @onclick="()=>expandSubMenu= !expandSubMenu">
                        <div class="top-nav-profile">
                            @foreach (var claim in context.User.Claims)
                            {
                                //<li>@claim.Type: @claim.Value</li>

                                @if (@claim.Type.Contains("img"))
                                {
                                    <img src="@claim.Value" class="small_profile_picture" alt="profile">
                                }
                           }
                      <span class="btn btn-sm">@context.User.Identity.Name</span>
                    </div>
                        @if (expandSubMenu)
                        {
                            <ul class="nav flex-column username-dropdown">
                                <NavLink href="profile">
                                    <li class="nav-item px-3 ">
                                        <span class="iconify" data-icon="akar-icons:person"></span>@localizer["Profile"] 
                                     </li>
                                </NavLink>
                                <NavLink  @onclick="@LogoutClick">
                                    <li class="nav-item px-3">
                                         <span class="iconify" data-icon="ic:twotone-logout"></span>@localizer["Logout"]
                                    </li>
                                </NavLink>
                            </ul>
                        }
                    </li>
                </Authorized>
            </AuthorizeView>
            <CultureSelector />
        </div>

        <article class="content px-4" @onclick="()=>expandSubMenu= false">
            @Body
        </article>
       
    </main>
</div>

<footer>
    <div class="bottom-row px-4">
        <NavLink href="/Privacy">
            <span class="footer-text" aria-hidden="true">© 2022 Cargotruck - All rights reserved</span>
        </NavLink>
    </div>
</footer>

@code{
    private bool expandSubMenu;

    [CascadingParameter]
    Task<AuthenticationState>? AuthenticationState { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            if (!navigationManager.Uri.ToString().Contains("login") && !navigationManager.Uri.ToString().Contains("Privacy"))
            {
                navigationManager.NavigateTo("/login");
            }
        }
    }
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }


}