


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="iconify iconify2" data-icon="noto:delivery-truck"></span>Cargotruck</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <nav class="flex-column">

<AuthorizeView>
    <Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>@localizer["Home"]
        </NavLink>
    </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Driver,User,Admin">
<Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Tasks">
            <span class="oi oi-task" aria-hidden="true"></span>@localizer["Tasks"]
        </NavLink>
    </div> 
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="Driver,User,Admin">
<Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Roads">
            <span class="iconify" data-icon="healthicons:paved-road-outline"></span>@localizer["Roads"]
        </NavLink>
    </div>
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="Storageman,User,Admin">
<Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Cargoes">
            <span class="iconify" data-icon="akar-icons:shipping-box-v2"></span>@localizer["Cargoes"]
        </NavLink>
    </div>
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="Storageman,User,Admin">
<Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Warehouses">
            <span class="iconify" data-icon="ic:twotone-warehouse"></span>@localizer["Warehouse"]
        </NavLink>
     </div>
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="Driver,User,Admin">
<Authorized>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Trucks">
            <span class="iconify" data-icon="cil:truck"></span>@localizer["Trucks"]
        </NavLink>
    </div>
</Authorized>
</AuthorizeView>

<AuthorizeView Roles="Manager,User,Admin">
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="iconify" data-icon="arcticons:money-manager" aria-hidden="true"></span> @localizer["Expenses_menu"]
            </NavLink>
        </div>
        @if (expandSubNav)
        {
            <div class="nav-item px-3 ms-3">
                <NavLink class="nav-link" href="Expenses">
                    <span class="iconify" data-icon="game-icons:pay-money"></span>@localizer["Expenses"]
                </NavLink>
                <NavLink class="nav-link" href="Monthly_Expenses">
                    <span class="iconify" data-icon="game-icons:receive-money"></span>@localizer["Monthly_Expenses"]
                </NavLink>
            </div>
        }
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="iconify" data-icon="bi:person-square"></span>@localizer["Admin"]
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
     <div class="nav-item px-3 hide">
        <NavLink class="nav-link" href="profile">
            <span class="iconify" data-icon="akar-icons:person"></span>@localizer["Profile"]
        </NavLink>
    </div>
     <div class="nav-item px-3 hide">
        <NavLink class="nav-link" @onclick="@LogoutClick">
            <span class="iconify" data-icon="ic:twotone-logout"></span>@localizer["Logout"]
        </NavLink>
    </div>
    </Authorized>
</AuthorizeView>

</nav>
</div>

@code {

    private bool collapseNavMenu = true;
    private bool expandSubNav = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }

}
