@page "/Admin"


<h3>@localizer["Users"]</h3>
<div class="form-group">
    <a class="btn btn-success me-4" href="/Register"><i class="oi oi-plus"></i> @localizer["Create_new"]</a>
    <a data-title="@localizer["Settings"]" class="btn btn-light" @onclick="@(() => settings=!settings)"><i class="oi oi-cog"></i></a>
    
    <!--Filter icon-->
    @if (filter != null && filter != "")
    {
        <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button"><span class="icon iconify filter-icon" data-icon="material-symbols:filter-alt-off"></span></button>
    }
    else
    {
        <button @onclick="@(()=>OnChangeResetFilter())" class="filter-button not-pointer"><span class="icon iconify filter-icon not-pointer" data-icon="material-symbols:filter-alt"></span></button>
    }
    <!--Filter-->
    @if(Roles != null) {
        <div data-title="@localizer["Filter"]" class="form-group custom-select d-inline-block">
            <div class="form-control filter">@(filter != null && filter.ToString() != "" ? localizer[filter?.ToString()!] : localizer["Nothing"])</div>
            <div class="custom-select-options ">
                <div class="custom-select-option" @onclick='() => {filter = null;StateChanged(); }'>
                    @localizer["Nothing"]
                </div>
                @foreach (var value in Roles.Values)
                {
                    <div class="custom-select-option" @onclick='() => {filter = value;StateChanged(); }'>
                        @localizer[value.ToString()]
                    </div>
                }
            </div>
        </div>
    }
</div>
<br>

@if (Users == null)
{
    <text><p class="text">@localizer["Loading"]</p></text>
}
else if (Users.Length == 0)
{
    <text><p class="text">@localizer["No_records"]</p></text>
}
else
{
    <AuthorizeView>
        <Authorized>
            <div class="col-md-8 stretch-card mb-2 me-3">
                <div class="form-card mb-1 table-width">
                    <div class="card-body mb-3">
                        <div class="table-responsive fixed-table-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@localizer["Profile"]</th>
                                        <th>@localizer["Id"]</th>
                                        <th>@localizer["Username"]</th>
                                        <th>@localizer["Email"]</th>
                                        <th>@localizer["Phone_number"]</th>
                                        <th>@localizer["Role"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Users item in Users)
                                    {
                                        int i = 0;
                                        i += 1;
                                        <tr @onclick="@((e) =>MouseHoverClass.MouseOnclick(item.Id))" @onmouseover="@((e) =>MouseHoverClass.MouseOver(item.Id))" @onmouseout="@((e) =>MouseHoverClass.MouseOut())"
                                    class="@(MouseHoverClass.MouseOnHoverClass == item.Id || MouseHoverClass.MouseOnclickClass == item.Id ? "color-on-hover" :"")">
                                            <td>@i</td>
                                            @if (showColumns[0])
                                            {
                                                @if (Claims != null)
                                                {
                                                    <td><img class="table-img" src="@Claims[$"img/{@item.Id}"]" /></td>
                                                }
                                            }
                                            @if (showColumns[1])
                                            {
                                                <td style="min-width: 18rem;">@item.Id</td>
                                            }
                                            @if (showColumns[2])
                                            {
                                                <td>@item.UserName</td>
                                            }
                                            @if (showColumns[3])
                                            {
                                                <td>@item.Email</td>
                                            }
                                            @if (showColumns[4])
                                            {
                                                <td>@item.PhoneNumber</td>
                                            }
                                            @if (showColumns[5])
                                            {
                                                @if (Roles!=null) { 
                                                    <td>@Roles[item.Id]</td>
                                                }
                                            }
                                            <td class="@(MouseHoverClass.MouseOnHoverClass == item.Id.ToString() || MouseHoverClass.MouseOnclickClass == item.Id.ToString() ? "show" :"not-show") ">
                                                @if(item.UserName == context?.User?.Identity?.Name){
                                                    <a title="@localizer["Edit"]" class="btn fixed" href="/profile"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                                                }
                                                else
                                                {
                                                    <a title="@localizer["Edit"]" class="btn fixed" href="/profile/Edit/@item.Id"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                                                }
                                                @if (item.UserName != @context?.User.Identity?.Name)
                                                {
                                                    <button title="@localizer["DeleteAsync"]" class="btn fixed2" @onclick="@(() => DeleteAsync(item.Id))"><span class="oi oi-trash" aria-hidden="true"></span></button>
                                                }
                                                else
                                                {
                                                    <button title="@localizer["DeleteAsync"]" class="btn fixed2" @onclick="@(() => DeleteAsync(item.Id))" disabled><span class="oi oi-trash" aria-hidden="true"></span></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <Pagination CurrentPage="currentPage" PageSize="pageSize" DataRows="dataRows" MaxPage="maxPage" GetCurrentPage="GetCurrentPageAsync" />
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>

    @if (settings)
    {
        <Settings OnSettingsClosed="SettingsClosed" OnInputChanged="InputChanged" OnSettingsChanged="SettingsChanged" showColumns="@showColumns" settings="@settings" pageSize="@pageSize" />
    }
}