@page "/Admin"
@using Cargotruck.Server.Models
@using Cargotruck.Shared.Models
@using Cargotruck.Shared.Resources
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

<h3>@localizer["Admin"]</h3>
<div class="form-group">
    <a class="btn btn-success" href="/Register"><i class="oi oi-plus"></i> @localizer["Create_new"]</a>
</div>
<br>

@if (users == null)
{
    <text>Loading...</text>
}
else if (users.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <AuthorizeView>
        <Authorized>
            <div class="col-md-8 stretch-card mb-2">
                <div class="form-card mb-1 table-width">
                    <div class="card-body mb-3">
                        <div class="table-responsive fixed-table-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@localizer["Profile"]</th>
                                        <th>@localizer["Id"]</th>
                                        <th>@localizer["Username"]</th>
                                        <th>@localizer["Email"]</th>
                                        <th>@localizer["Phone_number"]</th>
                                        <th>@localizer["Role"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Users item in users)
                                    {
                                        int i = 0;
                                        i += 1;
                                        <tr>
                                            <td>@i</td>
                                            <td><img class="table-img" src="@claims[$"img/{@item.Id}"]" /></td>
                                            <td style="min-width: 18rem;">@item.Id</td>
                                            <td>@item.UserName</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@roles[item.Id]</td>
                                            <td>
                                                @if(item.UserName == context.User.Identity.Name){
                                                    <a title="@localizer["Edit"]" class="btn fixed" href="/profile"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                                                }else{
                                                    <a title="@localizer["Edit"]" class="btn fixed" href="/profile/Edit/@item.Id"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                                                }
                                                <button title="@localizer["Delete"]" class="btn fixed2" @onclick="@(() => Delete(item.Id))"><span class="oi oi-trash" aria-hidden="true"></span></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
}
@code {
    Users[] users { get; set; }
    Dictionary<string, string>? claims { get; set; }
    Dictionary<string, string>? roles { get; set; }
    protected override async Task OnInitializedAsync()
    {
        users = await client.GetFromJsonAsync<Users[]>("api/admin/get");
        claims = await client.GetFromJsonAsync<Dictionary<string, string>?>("api/admin/claims");
        roles = await client.GetFromJsonAsync<Dictionary<string, string>?>("api/admin/roles");
    }

    async Task Delete(string Id)
    {
        var u = users.First(x => x.Id == Id);
        if (await js.InvokeAsync<bool>("confirm", $"{@localizer["delete?"]} {u.UserName} ({u.Id})"))
        {
            await client.DeleteAsync($"api/admin/{Id}");
            await OnInitializedAsync();
        }
    }
}